@font-face {
  font-family: 'SED';
  src: url('../fonts/SED/SED.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SED/SED.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SED/SED.woff') format('woff'), /* Modern Browsers */
       url('../fonts/SED/SED.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/SED/SED.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'gill_sans_light';
  src: url('../fonts/light/gill_sans.eot'); /* IE9 Compat Modes */
  src: url('../fonts/light/gill_sans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/light/gill_sans.woff') format('woff'), /* Modern Browsers */
       url('../fonts/light/gill_sans.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/light/gill_sans.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'old_press';
  src: url('../fonts/oldpress/old_press.ttf'); 
}