/* line 17, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* ==mixins */
/* ==placeholders */
/* line 66, ../scss/snowman/_main.scss */
.sign .board, .sign .board .hole {
  margin-left: auto;
  margin-right: auto;
}

/* line 72, ../scss/snowman/_main.scss */
.christmas-widget {
  overflow: visible;
}

/* line 76, ../scss/snowman/_main.scss */
.sign .board {
  background-color: #a43e35;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFA43E35', endColorstr='#FF88342C');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a43e35), color-stop(100%, #88342c));
  background-image: -webkit-linear-gradient(top, #a43e35 0%, #88342c 100%);
  background-image: -moz-linear-gradient(top, #a43e35 0%, #88342c 100%);
  background-image: -o-linear-gradient(top, #a43e35 0%, #88342c 100%);
  background-image: linear-gradient(top, #a43e35 0%, #88342c 100%);
}

/* ==animations */
@-webkit-keyframes tilt {
  /* line 85, ../scss/snowman/_main.scss */
  0%, 100% {
    -webkit-transform: rotateZ(-3deg);
    -webkit-transform-origin: 194px 0px;
  }

  /* line 90, ../scss/snowman/_main.scss */
  50% {
    -webkit-transform: rotateZ(8deg);
    -webkit-transform-origin: 194px 0px;
  }
}

@-moz-keyframes tilt {
  /* line 85, ../scss/snowman/_main.scss */
  0%, 100% {
    -webkit-transform: rotateZ(-3deg);
    -webkit-transform-origin: 194px 0px;
  }

  /* line 90, ../scss/snowman/_main.scss */
  50% {
    -webkit-transform: rotateZ(8deg);
    -webkit-transform-origin: 194px 0px;
  }
}

@-o-keyframes tilt {
  /* line 85, ../scss/snowman/_main.scss */
  0%, 100% {
    -webkit-transform: rotateZ(-3deg);
    -webkit-transform-origin: 194px 0px;
  }

  /* line 90, ../scss/snowman/_main.scss */
  50% {
    -webkit-transform: rotateZ(8deg);
    -webkit-transform-origin: 194px 0px;
  }
}

@keyframes tilt {
  /* line 85, ../scss/snowman/_main.scss */
  0%, 100% {
    -webkit-transform: rotateZ(-3deg);
    -webkit-transform-origin: 194px 0px;
  }

  /* line 90, ../scss/snowman/_main.scss */
  50% {
    -webkit-transform: rotateZ(8deg);
    -webkit-transform-origin: 194px 0px;
  }
}

/* ==sign styling */
/* line 98, ../scss/snowman/_main.scss */
.sign {
  position: relative;
  right: 30px;
  width: 400px;
  height: 300px;
  -webkit-animation: tilt 10s 0s infinite cubic-bezier(0.35, 0.1, 0.65, 0.9);
  -moz-animation-name: tilt;
  -moz-animation-duration: 10s;
  -moz-animation-delay: 0s;
  -moz-animation-iteration-count: infinite;
  -moz-timing-function: cubic-bezier(0.35, 0.1, 0.65, 0.9);
  -o-animation-name: tilt;
  -o-animation-duration: 10s;
  -o-animation-delay: 0s;
  -o-animation-iteration-count: infinite;
  -o-timing-function: cubic-bezier(0.35, 0.1, 0.65, 0.9);
  animation-name: tilt;
  animation-duration: 10s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  timing-function: cubic-bezier(0.35, 0.1, 0.65, 0.9);
}
/* line 106, ../scss/snowman/_main.scss */
.sign .chain {
  position: relative;
  width: 10px;
  height: 55px;
  background-color: #e5e696;
  border: 1px solid black;
  margin-bottom: -30px;
  margin-left: 189px;
  z-index: 6;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
}
/* line 121, ../scss/snowman/_main.scss */
.sign .board {
  position: relative;
  z-index: 5;
  width: 320px;
  -webkit-transform: rotateZ(-3deg);
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 40px;
}
/* line 136, ../scss/snowman/_main.scss */
.sign .board .hole {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #1b2e33;
  border: 4px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
}
/* line 146, ../scss/snowman/_main.scss */
.sign .board .countdown-number {
  font-size: 150px;
  font-family: helvetica;
  color: white;
  text-shadow: -3px -3px 0px rgba(215, 215, 215, 0.5);
  -webkit-transform: rotateZ(-1deg);
}
/* line 153, ../scss/snowman/_main.scss */
.sign .board .countdown-description {
  font-size: 40px;
  font-family: helvetica;
  color: black;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotateZ(1deg);
}

/* line 1, ../scss/snow_fall/_main.scss */
body {
  margin: 0;
  width: 100%;
}

/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f1 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 221%;
  left: 70%;
  -webkit-animation: fall3;
  -webkit-animation-duration: 14s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f2 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 236%;
  left: 86%;
  -webkit-animation: fall4;
  -webkit-animation-duration: 14s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f3 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 106%;
  left: 43%;
  -webkit-animation: fall2;
  -webkit-animation-duration: 18s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f4 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 237%;
  left: 3%;
  -webkit-animation: fall2;
  -webkit-animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f5 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 234%;
  left: 69%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f6 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 293%;
  left: 60%;
  -webkit-animation: fall2;
  -webkit-animation-duration: 19s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f7 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 173%;
  left: 40%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 19s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f8 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 256%;
  left: 54%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 16s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f9 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 210%;
  left: 41%;
  -webkit-animation: fall2;
  -webkit-animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f10 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 210%;
  left: 17%;
  -webkit-animation: fall4;
  -webkit-animation-duration: 22s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f11 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 137%;
  left: 27%;
  -webkit-animation: fall3;
  -webkit-animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f12 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 194%;
  left: 20%;
  -webkit-animation: fall2;
  -webkit-animation-duration: 17s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f13 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 176%;
  left: 30%;
  -webkit-animation: fall3;
  -webkit-animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f14 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 245%;
  left: 14%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 19s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f15 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 279%;
  left: 41%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f16 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 199%;
  left: 11%;
  -webkit-animation: fall3;
  -webkit-animation-duration: 25s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f17 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 233%;
  left: 63%;
  -webkit-animation: fall2;
  -webkit-animation-duration: 17s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f18 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 254%;
  left: 72%;
  -webkit-animation: fall4;
  -webkit-animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f19 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 170%;
  left: 48%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 22s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f20 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 280%;
  left: 82%;
  -webkit-animation: fall4;
  -webkit-animation-duration: 17s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f21 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 173%;
  left: 95%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 25s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f22 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 290%;
  left: 41%;
  -webkit-animation: fall4;
  -webkit-animation-duration: 24s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f23 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 112%;
  left: 58%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f24 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 283%;
  left: 77%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 18s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f25 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 107%;
  left: 62%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 11s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f26 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 177%;
  left: 8%;
  -webkit-animation: fall3;
  -webkit-animation-duration: 21s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f27 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 115%;
  left: 95%;
  -webkit-animation: fall2;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f28 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 145%;
  left: 2%;
  -webkit-animation: fall4;
  -webkit-animation-duration: 13s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f29 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 123%;
  left: 88%;
  -webkit-animation: fall2;
  -webkit-animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f30 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 263%;
  left: 32%;
  -webkit-animation: fall2;
  -webkit-animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f31 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 164%;
  left: 40%;
  -webkit-animation: fall4;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f32 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 209%;
  left: 60%;
  -webkit-animation: fall2;
  -webkit-animation-duration: 14s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f33 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 243%;
  left: 21%;
  -webkit-animation: fall2;
  -webkit-animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f34 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 204%;
  left: 28%;
  -webkit-animation: fall2;
  -webkit-animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f35 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 152%;
  left: 76%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 22s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f36 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 259%;
  left: 32%;
  -webkit-animation: fall3;
  -webkit-animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f37 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 136%;
  left: 65%;
  -webkit-animation: fall3;
  -webkit-animation-duration: 11s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f38 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 106%;
  left: 42%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 27s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f39 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 233%;
  left: 34%;
  -webkit-animation: fall2;
  -webkit-animation-duration: 24s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 8, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f40 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 179%;
  left: 41%;
  -webkit-animation: fall3;
  -webkit-animation-duration: 26s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fall1 {
  /* line 24, ../scss/snow_fall/_main.scss */
  0% {
    top: -50px;
    -webkit-transform: translate(0px, 0px) rotate(0deg);
  }

  /* line 29, ../scss/snow_fall/_main.scss */
  100% {
    top: 500px;
    -webkit-transform: translate(100px, 150px) rotate(250deg);
  }
}

@-webkit-keyframes fall2 {
  /* line 36, ../scss/snow_fall/_main.scss */
  0% {
    top: -50px;
    -webkit-transform: rotate(-180deg) translate(0px, 0px);
  }

  /* line 40, ../scss/snow_fall/_main.scss */
  75% {
    opacity: 0.8;
  }

  /* line 43, ../scss/snow_fall/_main.scss */
  100% {
    top: 500px;
    opacity: 0.0;
    -webkit-transform: rotate(180deg) translate(10px, 75px);
  }
}

@-webkit-keyframes fall3 {
  /* line 51, ../scss/snow_fall/_main.scss */
  0% {
    top: -50px;
    -webkit-transform: rotate(-180deg);
  }

  /* line 56, ../scss/snow_fall/_main.scss */
  100% {
    top: 500px;
    -webkit-transform: rotate(180deg);
    -webkit-transform: rotateY(160deg);
  }
}

@-webkit-keyframes fall4 {
  /* line 64, ../scss/snow_fall/_main.scss */
  0% {
    top: -50px;
    -webkit-transform: rotate(-180deg) translate(0px, 0px);
  }

  /* line 68, ../scss/snow_fall/_main.scss */
  70% {
    -webkit-transform: rotate(200deg) translate(50px, 100px);
  }

  /* line 71, ../scss/snow_fall/_main.scss */
  100% {
    top: 500px;
    -webkit-transform: rotate(380deg) translate(80px, 100px);
  }
}

@-webkit-keyframes fall5 {
  /* line 78, ../scss/snow_fall/_main.scss */
  0% {
    top: -50px;
  }

  /* line 81, ../scss/snow_fall/_main.scss */
  10% {
    -webkit-transform: rotate(-180deg) translate(0px, 0px);
  }

  /* line 84, ../scss/snow_fall/_main.scss */
  100% {
    top: 500px;
    -webkit-transform: rotate(50deg) translate(100px, 80px);
  }
}

/* line 90, ../scss/snow_fall/_main.scss */
[class*="icon-"] {
  font-family: 'SED';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 104, ../scss/snow_fall/_main.scss */
.icon-snow:before {
  content: "\e60d";
}

/* line 108, ../scss/snow_fall/_main.scss */
.icon-snowflake:before {
  content: "\e61b";
}

@font-face {
  font-family: 'SED';
  src: url("../fonts/SED/SED.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/SED/SED.eot?#iefix") format("embedded-opentype"), url("../fonts/SED/SED.woff") format("woff"), url("../fonts/SED/SED.ttf") format("truetype"), url("../fonts/SED/SED.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'gill_sans_light';
  src: url("../fonts/light/gill_sans.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/light/gill_sans.eot?#iefix") format("embedded-opentype"), url("../fonts/light/gill_sans.woff") format("woff"), url("../fonts/light/gill_sans.ttf") format("truetype"), url("../fonts/light/gill_sans.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'old_press';
  src: url("../fonts/oldpress/old_press.ttf");
}
