@font-face {
	font-family: 'SED';
	src:url('../fonts/SED.eot');
	src:url('../fonts/SED.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SED.ttf') format('truetype'),
		url('../fonts/SED.woff') format('woff'),
		url('../fonts/SED.svg#SED') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'SED';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-tickmark-wire:before {
	content: "\e600";
}
.icon-cross-wire:before {
	content: "\e601";
}
.icon-dot-ring:before {
	content: "\e602";
}
.icon-crashed-face:before {
	content: "\e603";
}
.icon-clock:before {
	content: "\e604";
}
.icon-dot:before {
	content: "\e605";
}
.icon-british-rail:before {
	content: "\e606";
}
.icon-underground:before {
	content: "\e607";
}
.icon-windy:before {
	content: "\e608";
}
.icon-twitter:before {
	content: "\e609";
}
.icon-topics:before {
	content: "\e60a";
}
.icon-thunderstorm:before {
	content: "\e60b";
}
.icon-sunny:before {
	content: "\e60c";
}
.icon-snow:before {
	content: "\e60d";
}
.icon-sleet:before {
	content: "\e60e";
}
.icon-rain:before {
	content: "\e60f";
}
.icon-quote:before {
	content: "\e610";
}
.icon-partially-cloudy:before {
	content: "\e611";
}
.icon-leaderboard:before {
	content: "\e612";
}
.icon-fog:before {
	content: "\e613";
}
.icon-cloudy:before {
	content: "\e614";
}
.icon-cloudy-windy:before {
	content: "\e615";
}
.icon-clear-night:before {
	content: "\e616";
}
.icon-chatter:before {
	content: "\e617";
}
.icon-calendar:before {
	content: "\e618";
}
.icon-crying-face:before {
	content: "\e619";
}
.icon-bemused-face:before {
	content: "\e61a";
}
.icon-snowflake:before {
	content: "\e61b";
}
