/*mixins*/
/*placeholders */
/* line 75, ../scss/main.scss */
.timer, .snowman .hat, .snowman .hat .top, .snowman .hat .middle, .snowman .head, .snowman .scarf, .snowman .belly, .snowman .legs {
  margin-left: auto;
  margin-right: auto;
}

/* Styles */
/* line 90, ../scss/main.scss */
.snowman .head, .snowman .belly, .snowman .legs {
  background: #fff;
  border-radius: 50%;
  /* box-shadow: inset 0px 0px 10px; */
}

/* line 96, ../scss/main.scss */
.snowman .hat .top, .snowman .hat .base {
  box-shadow: inset 0px 0px 13px rgba(255, 255, 255, 0.44);
}

/* line 100, ../scss/main.scss */
.snowman .scarf, .snowman .scarf .end {
  background-color: green;
  box-shadow: 0px 3px 0px darkgreen;
}

/* line 105, ../scss/main.scss */
.snowman .head .eye, .snowman .belly .buttonz {
  border-radius: 100%;
  background-color: black;
}

/*main */
/* line 113, ../scss/main.scss */
.wrapper {
  width: 500px;
  height: 700px;
  margin: 0;
  padding: 0;
  box-shadow: 0px 0px 1px red;
  background-color: #1b2e33;
}

/* line 122, ../scss/main.scss */
.timer {
  position: relative;
  top: 40px;
  z-index: 1;
  background: url(../images/wood.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0px 0px 14px;
  border-radius: 20px;
  text-align: center;
  width: 300px;
  height: 200px;
}
/* line 142, ../scss/main.scss */
.timer h1 {
  font-size: 10em;
  font-family: "sans-serif";
  color: #948774;
  text-shadow: 0px -5px 0px rgba(0, 0, 0, 0.4);
}
/* line 148, ../scss/main.scss */
.timer h2 {
  font-size: 2em;
  color: floralwhite;
}

/* line 154, ../scss/main.scss */
.snowman {
  /* width: 30%; */
  -webkit-transform: scale(0.77);
}
/* line 158, ../scss/main.scss */
.snowman > div {
  position: relative;
}
/* line 162, ../scss/main.scss */
.snowman .hat {
  z-index: 5;
  width: 160px;
  height: auto;
  -webkit-transform-origin: bottom;
  -webkit-transform: rotateZ(5deg);
}
/* line 169, ../scss/main.scss */
.snowman .hat .top {
  position: relative;
  z-index: 2;
  margin-bottom: -10px;
  width: 70%;
  height: 20px;
  background-color: black;
  border-radius: 100%;
}
/* line 183, ../scss/main.scss */
.snowman .hat .middle {
  position: relative;
  z-index: 1;
  margin-bottom: -10px;
  width: 70%;
  height: 65px;
  background-color: black;
}
/* line 193, ../scss/main.scss */
.snowman .hat .base {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 25px;
  background-color: black;
  border-radius: 100%;
  margin-bottom: -20px;
}
/* line 206, ../scss/main.scss */
.snowman .head {
  z-index: 4;
  margin-bottom: -28px;
  width: 115px;
  height: 92px;
  box-shadow: inset 0px -3px 10px rgba(0, 0, 0, 0.4);
}
/* line 214, ../scss/main.scss */
.snowman .head .eye {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 55%;
  top: 25%;
  box-shadow: 36px 0px;
  /* background-color: #1600e2;
  @include filter-gradient(#1600e2, #000000, horizontal);
  @include background-image(radial-gradient(center, ellipse cover,  #1600e2 1%,#000000 62%)); */
}
/* line 228, ../scss/main.scss */
.snowman .head .nose {
  position: absolute;
  bottom: 27%;
  left: 46%;
  -webkit-transform: rotateZ(20deg);
  border-style: solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /* border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; */
  border-width: 10px 0px 10px 50px;
  border-color: transparent transparent transparent #ff8c00;
}
/* line 242, ../scss/main.scss */
.snowman .head .mouth {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 22px);
  width: 44px;
  height: 20px;
  border-bottom: 20px black solid;
  border-bottom-left-radius: 154%;
  border-bottom-right-radius: 113%;
  /* border-bottom-left-radius: 154%;
  border-bottom-right-radius: 113%; */
}
/* line 256, ../scss/main.scss */
.snowman .scarf {
  z-index: 3;
  margin-bottom: -32px;
  width: 115px;
  height: 32px;
  border-radius: 100%;
}
/* line 264, ../scss/main.scss */
.snowman .scarf .end {
  position: absolute;
  right: 10px;
  width: 15px;
  height: 75px;
  border-top-right-radius: 100%;
}
/* line 273, ../scss/main.scss */
.snowman .scarf .end:first-child {
  right: 15px;
}
/* line 277, ../scss/main.scss */
.snowman .scarf .end:last-child {
  box-shadow: -4px 3px darkgreen, 0px 3px 0px darkgreen, 1px 3px 0px darkgreen;
  -webkit-transform: rotateZ(-25deg);
}
/* line 284, ../scss/main.scss */
.snowman .belly {
  z-index: 2;
  margin-bottom: -40px;
  width: 185px;
  height: 130px;
  box-shadow: inset 0px -3px 10px rgba(0, 0, 0, 0.4), 0px 6px 5px rgba(0, 0, 0, 0.1);
}
/* line 292, ../scss/main.scss */
.snowman .belly .arm .finger {
  left: -20px;
}
/* line 295, ../scss/main.scss */
.snowman .belly .arm .finger:nth-child(1) {
  -webkit-transform: rotateZ(-135deg);
  bottom: calc(100% + 5px);
}
/* line 300, ../scss/main.scss */
.snowman .belly .arm .finger:nth-child(2) {
  top: 1.5px;
}
/* line 304, ../scss/main.scss */
.snowman .belly .arm .finger:nth-child(3) {
  -webkit-transform: rotateZ(-225deg);
  top: calc(100% + 5px);
}
/* line 310, ../scss/main.scss */
.snowman .belly .arm:first-child {
  position: absolute;
  right: 94%;
  top: 50%;
}
/* line 315, ../scss/main.scss */
.snowman .belly .arm:first-child .limb {
  -webkit-transform: rotateZ(72deg);
}
/* line 320, ../scss/main.scss */
.snowman .belly .arm:nth-child(2) {
  position: absolute;
  left: 94%;
  top: 50%;
  -webkit-transform: rotateZ(180deg);
}
/* line 326, ../scss/main.scss */
.snowman .belly .arm:nth-child(2) .limb {
  -webkit-transform: rotateZ(-72deg);
}
/* line 331, ../scss/main.scss */
.snowman .belly .arm .limb {
  position: relative;
  -webkit-transform-origin: right;
  width: 214px;
  height: 10px;
  background-color: saddlebrown;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 342, ../scss/main.scss */
.snowman .belly .arm .limb .finger {
  position: absolute;
  width: 30px;
  height: 6px;
  background-color: saddlebrown;
}
/* line 350, ../scss/main.scss */
.snowman .belly .buttonz {
  width: 16px;
  height: 16px;
  position: absolute;
  left: calc(50% - 8px);
  top: 30%;
  box-shadow: 0px 26px 0px, 0px 52px 0;
}
/* line 361, ../scss/main.scss */
.snowman .legs {
  z-index: 1;
  width: 250px;
  height: 170px;
  box-shadow: 0px 35px 120px, inset 0px -5px 15px rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes scarf {
  /* line 370, ../scss/main.scss */
  0% {
    -webkit-transform: rotateZ(0deg);
  }

  /* line 371, ../scss/main.scss */
  20% {
    -webkit-transform: rotateZ(-40deg);
  }

  /* line 372, ../scss/main.scss */
  60% {
    -webkit-transform: rotateZ(30deg);
  }

  /* line 373, ../scss/main.scss */
  85% {
    -webkit-transform: rotateZ(-30deg);
  }

  /* line 374, ../scss/main.scss */
  100% {
    -webkit-transform: rotateZ(0deg);
  }
}

@-moz-keyframes scarf {
  /* line 370, ../scss/main.scss */
  0% {
    -webkit-transform: rotateZ(0deg);
  }

  /* line 371, ../scss/main.scss */
  20% {
    -webkit-transform: rotateZ(-40deg);
  }

  /* line 372, ../scss/main.scss */
  60% {
    -webkit-transform: rotateZ(30deg);
  }

  /* line 373, ../scss/main.scss */
  85% {
    -webkit-transform: rotateZ(-30deg);
  }

  /* line 374, ../scss/main.scss */
  100% {
    -webkit-transform: rotateZ(0deg);
  }
}

@-o-keyframes scarf {
  /* line 370, ../scss/main.scss */
  0% {
    -webkit-transform: rotateZ(0deg);
  }

  /* line 371, ../scss/main.scss */
  20% {
    -webkit-transform: rotateZ(-40deg);
  }

  /* line 372, ../scss/main.scss */
  60% {
    -webkit-transform: rotateZ(30deg);
  }

  /* line 373, ../scss/main.scss */
  85% {
    -webkit-transform: rotateZ(-30deg);
  }

  /* line 374, ../scss/main.scss */
  100% {
    -webkit-transform: rotateZ(0deg);
  }
}

@keyframes scarf {
  /* line 370, ../scss/main.scss */
  0% {
    -webkit-transform: rotateZ(0deg);
  }

  /* line 371, ../scss/main.scss */
  20% {
    -webkit-transform: rotateZ(-40deg);
  }

  /* line 372, ../scss/main.scss */
  60% {
    -webkit-transform: rotateZ(30deg);
  }

  /* line 373, ../scss/main.scss */
  85% {
    -webkit-transform: rotateZ(-30deg);
  }

  /* line 374, ../scss/main.scss */
  100% {
    -webkit-transform: rotateZ(0deg);
  }
}

/* line 378, ../scss/main.scss */
.end:last-child {
  -webkit-animation-name: scarf;
  -webkit-animation-duration: 15s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-timing-function: ease-in-out;
  -moz-animation-name: scarf;
  -moz-animation-duration: 15s;
  -moz-animation-delay: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-timing-function: ease-in-out;
  -o-animation-name: scarf;
  -o-animation-duration: 15s;
  -o-animation-delay: 2s;
  -o-animation-iteration-count: infinite;
  -o-timing-function: ease-in-out;
  animation-name: scarf;
  animation-duration: 15s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  timing-function: ease-in-out;
}

/* line 382, ../scss/main.scss */
.end:first-child {
  -webkit-animation-name: scarf;
  -webkit-animation-duration: 25s;
  -webkit-animation-delay: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-timing-function: ease-in-out;
  -moz-animation-name: scarf;
  -moz-animation-duration: 25s;
  -moz-animation-delay: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-timing-function: ease-in-out;
  -o-animation-name: scarf;
  -o-animation-duration: 25s;
  -o-animation-delay: 5s;
  -o-animation-iteration-count: infinite;
  -o-timing-function: ease-in-out;
  animation-name: scarf;
  animation-duration: 25s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  timing-function: ease-in-out;
}
