@import 'compass/css3/images';

@import 'compass/reset';

/* ==mixins */

@mixin dimensions($width, $height : $width) {
	width: $width;
	height: $height;
}


@mixin radius($side_0, $radius_0 : false, $radius_1 : false) {
	@if $radius_0 == false {
		border-radius: $side_0;
	} @else if $radius_1 == false {
		border-#{$side_0}-radius: $radius_0;
	} @else {
		border-#{$side_0}-left-radius: $radius_0;
		border-#{$side_0}-right-radius: $radius_1;
	}
}

@mixin keyframe ($animation_name) {
    @-webkit-keyframes $animation_name {
        @content;
    }
 
    @-moz-keyframes $animation_name {
        @content;
    }
 
    @-o-keyframes $animation_name {
        @content;
    }
 
    @keyframes $animation_name {
        @content;
    }
}

@mixin animation ($animation_name, $duration, $delay : 0s, $iteration : infinite, $timing : ease-in-out) {
    -webkit-animation-name: $animation_name;
    -webkit-animation-duration: $duration;
    -webkit-animation-delay: $delay;
    -webkit-animation-iteration-count: $iteration;
    -webkit-timing-function: $timing;
 
    -moz-animation-name: $animation_name;
    -moz-animation-duration: $duration;
    -moz-animation-delay: $delay;
    -moz-animation-iteration-count: $iteration;
    -moz-timing-function: $timing;
 
    -o-animation-name: $animation_name;
    -o-animation-duration: $duration;
    -o-animation-delay: $delay;
    -o-animation-iteration-count: $iteration;
    -o-timing-function: $timing;
 
	animation-name: $animation_name;
	animation-duration: $duration;
	animation-delay: $delay;
	animation-iteration-count: $iteration;
	timing-function: $timing;
}

/* ==placeholders */

%margin_auto {
	margin-left: auto;
	margin-right: auto;
}


.christmas-widget {
	overflow: visible;
}

%sign-gradient{
background-color: #d6726f; // Old browsers
@include filter-gradient(#d6726f, #db5752, vertical); // IE6-9
@include background-image(linear-gradient(top,  #d6726f 0%,#db5752 100%));
}

/* ==animations */

@include keyframe (tilt){
	0%, 100%{
		-webkit-transform: rotateZ(-3deg);
		-webkit-transform-origin: 194px 0px;
	}
	
	50%{
		-webkit-transform: rotateZ(8deg);
		-webkit-transform-origin: 194px 0px;
	}
}

/* ==sign styling */

.sign{
	@include dimensions(400px,300px);
	@include animation(tilt,10s,2s);
		

	.chain{
		position: relative;
		@include dimensions(10px, 55px);
		background-color: #e5e696;
		border: 1px solid black;
		margin-bottom: -30px;
		margin-left: 189px;
		z-index: 6;
		border-bottom-left-radius: 20%;
		border-bottom-right-radius: 20%;
		box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
	}

	

	.board {
		position:relative;
		z-index: 5;
		@include dimensions(350px, 230px);
		@extend %margin_auto;
		@extend %sign-gradient;
		-webkit-transform: rotateZ(-3deg);

		box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.6);
		@include radius(5px);
		text-align: center;
		padding-top: 10px;
		

		.hole{
			@include dimensions(15px);
			@include radius(50%);
			@extend %margin_auto;
			background-color: rgb(27, 46, 51);
			border: 4px solid rgba(0, 0, 0, 0.2);
			box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
		}


		.countdown-number {
			font-size: 150px;
			font-family: helvetica;
			color: white;
			text-shadow: -3px -3px 0px rgba(215, 215, 215, 0.5);
			-webkit-transform: rotateZ(-1deg);
		}
		.countdown-description {
			font-size: 40px;
			font-family: helvetica;
			color: black;
			
			text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
			-webkit-transform: rotateZ(1deg);
		}
	}
}
