@import 'mixins_placeholders';
@import 'compass/reset';
@import 'compass/css3/transform';
@import 'animation';
@import 'animations';
@import 'compass/css3/transition';

$tiphat_animation_props: 2.5s infinite linear;

body {
	width: 500px;
	height: 700px;
	margin: 0;
	padding: 0;
	box-shadow: 0px 0px 1px red;
	background-color: rgb(27, 46, 51);
}

.timer {
	position: relative;
	top: 40px;
	@include pos(1);
		
	background: url(../images/wood.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	-webkit-transform: rotateZ(-7deg);

	box-shadow: 0px 0px 14px;
	@include radius(20px);

	text-align: center;

	@include dimensions(300px, 200px);
	@extend %margin_auto;
	

	h1 {
		font-size: 150px;
		font-family: "old_press";
		letter-spacing: 10px;
		color: #d5cbc3;
		text-shadow: -3px -3px 0px rgba(0, 0, 0, 0.5), 2px 2px 0px rgba(255, 255, 255, 0.8);
		-webkit-transform: rotateZ(4deg);
	}
	h2 {
		font-size: 40px;
		font-family: "old_press";
		letter-spacing: 5px;
		color: #d5cbc3;
		text-shadow: -2px -2px 0px rgba(0, 0, 0, 0.5), 1px 1px 0px rgba(255, 255, 255, 0.9);
		text-transform: uppercase;
		-webkit-transform: rotateZ(-3deg);
	}
}

.snowman {
	/* width: 30%; */
	@include scale(0.77);

	& > div {
		position: relative;
	}

	.hat {
		@extend %margin_auto;
		@include pos(5);
		@include dimensions(160px, auto);
		@include apply-origin(bottom, false);
		@include rotateZ(5deg);

		@include animation(tiphat_rotate_hat $tiphat_animation_props);/*2.5s, 10s);*/

		.top {
			position: relative;
			@include pos(2);

			@extend %margin_auto;
			margin-bottom: -10px;

			@include dimensions(70%, 20px);
			background-color: black;
			@include radius(100%);

			@extend %snow_dusting;
		}

		.middle {
			position: relative;
			@include pos(1);

			@extend %margin_auto;
			margin-bottom: -10px;
			@include dimensions(70%, 65px);
			background-color: black;
		}

		.base {
			position: relative;
			@include pos(0);

			@include dimensions(100%, 25px);
			background-color: black;
			@include radius(100%);
			margin-bottom: -20px;

			@extend %snow_dusting;
		}
	}

	.head {
		@include pos(4);
		@extend %margin_auto;
		margin-bottom: -28px;
		@include snowball(115px, 92px);

		box-shadow: inset 0px -3px 10px rgba(0, 0, 0, 0.4);

		.eye {
			@include dimensions(20px);
			@extend %black_button;

			position: absolute;
			right: 55%;
			top: 25%;
			box-shadow: 36px 0px black;
			
			/* background-color: #1600e2;
			@include filter-gradient(#1600e2, #000000, horizontal);
			@include background-image(radial-gradient(center, ellipse cover,  #1600e2 1%,#000000 62%)); */
		}

		.nose {
			position: absolute;
			bottom: 27%;
			left: 46%;
			@include rotateZ(20deg);
			border-style: solid;
			@include radius(top-left, 10px);
			@include radius(bottom-left, 10px);
			/* border-top-left-radius: 10px;
			border-bottom-left-radius: 10px; */
			border-width: 10px 0px 10px 50px;
			border-color: transparent transparent transparent #ff8c00;
		}

		.mouth {
			@extend %margin_auto;
			position: relative;
			top: 50%;
			
			@include dimensions(44px, 20px);
			border-bottom: 20px black solid;

			@include radius(bottom, 154%, 113%);
			/* border-bottom-left-radius: 154%;
			border-bottom-right-radius: 113%; */
		}
	}

	.scarf {
		@include pos(3);
		@extend %margin_auto;
		margin-bottom: -32px;
		@include dimensions(115px, 32px);
		@include radius(100%);
		@extend %green_scarf;

		.end {
			position: absolute;
			right: 10px;
			top: 18px;

			@include apply-origin(top, false);
			@include animation(scarf_in_wind 0.7s infinite linear);

			@extend %green_scarf;
			@include dimensions(15px, 75px);
			
			border-top-right-radius: 100%;

			&:first-child {
				right: 15px;
				@include animation-delay(0.3s);
			}

			&:last-child {
				box-shadow: -4px 3px darkgreen, 0px 3px 0px darkgreen, 1px 3px 0px darkgreen;
				/* -webkit-transform: rotateZ(-25deg); */
			}
		}
	}

	.belly {
		@include pos(2);
		margin-bottom: -40px;
		@extend %margin_auto;
		@include snowball(185px, 130px);
		box-shadow: inset 0px -3px 10px rgba(0, 0, 0, 0.4), 0px 6px 5px rgba(0, 0, 0, 0.1);

		.arm {
			.finger {
				left: -20px;

				&:nth-child(1) {
					@include rotateZ(-135deg);
					bottom: 150%;
				}

				&:nth-child(2) {
					top: 1.5px;
				}

				&:nth-child(3) {
					@include rotateZ(-225deg);
					top: 150%;
				}
			}

			&:first-child {
				position: absolute;
				right: 94%;
				top: 50%;

				.limb {
					@include rotateZ(72deg);

				}
			}

			&:nth-child(2) {
				position: absolute;
				left: 94%;
				top: 50%;
				@include rotateZ(180deg);

				.limb {
					@include rotateZ(-72deg);
					@include animation(tiphat_rotate_arm $tiphat_animation_props);
				}
			}

			.limb {
				position: relative;

				@include apply-origin(right, false);

				@include dimensions(214px, 10px);
				background-color: saddlebrown;

				@include radius(top-right, 5px);
				@include radius(bottom-right, 5px);

				.finger {
					position: absolute;
					@include dimensions(30px, 6px);
					background-color: saddlebrown;
				}
			}
		}

		.buttonz {
			@include dimensions(16px);
			@extend %black_button;
			@extend %margin_auto;

			position: relative;
			top: 30%;
			box-shadow: 0px 26px 0px black, 0px 52px 0 black;
		}
	}

	.legs {
		@include pos(1);
		@extend %margin_auto;
		@include snowball(250px, 170px);
		box-shadow: 0px 35px 120px, inset 0px -5px 15px rgba(0, 0, 0, 0.5);
	}
}

/* @include keyframe(scarf) {
	0% { -webkit-transform: rotateZ(0deg); }
	20% { -webkit-transform: rotateZ(-40deg); }
	60% { -webkit-transform: rotateZ(30deg); }
	85% { -webkit-transform: rotateZ(-30deg); }
	100% { -webkit-transform: rotateZ(0deg); }
}


.end:last-child {
   @include animation(scarf, 15s, 2s);
}

.end:first-child {
   @include animation(scarf, 25s, 5s);
} */






