/* line 1, ../scss/style.scss */
body {
  margin: 0;
  width: 100%;
}

/* line 6, ../scss/style.scss */
.container {
  background-color: #1b2e33;
  width: 100%;
  height: 500px;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f1 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 556%;
  left: 85%;
  -webkit-animation: fall2;
  -webkit-animation-duration: 22s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f2 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 998%;
  left: 32%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 25s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f3 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 1175%;
  left: 23%;
  -webkit-animation: fall3;
  -webkit-animation-duration: 25s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f4 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 765%;
  left: 95%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 26s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f5 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 436%;
  left: 13%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 25s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f6 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 730%;
  left: 88%;
  -webkit-animation: fall3;
  -webkit-animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f7 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 649%;
  left: 91%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 25s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f8 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 980%;
  left: 56%;
  -webkit-animation: fall4;
  -webkit-animation-duration: 18s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f9 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 465%;
  left: 82%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 27s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f10 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 869%;
  left: 42%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 18s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f11 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 912%;
  left: 36%;
  -webkit-animation: fall4;
  -webkit-animation-duration: 14s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f12 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 816%;
  left: 8%;
  -webkit-animation: fall4;
  -webkit-animation-duration: 25s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f13 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 1144%;
  left: 23%;
  -webkit-animation: fall4;
  -webkit-animation-duration: 17s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f14 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 1053%;
  left: 27%;
  -webkit-animation: fall3;
  -webkit-animation-duration: 22s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f15 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 437%;
  left: 18%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f16 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 656%;
  left: 53%;
  -webkit-animation: fall3;
  -webkit-animation-duration: 27s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f17 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 1113%;
  left: 52%;
  -webkit-animation: fall4;
  -webkit-animation-duration: 22s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f18 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 529%;
  left: 40%;
  -webkit-animation: fall3;
  -webkit-animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f19 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 649%;
  left: 89%;
  -webkit-animation: fall2;
  -webkit-animation-duration: 24s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f20 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 483%;
  left: 4%;
  -webkit-animation: fall4;
  -webkit-animation-duration: 14s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f21 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 590%;
  left: 18%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 25s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f22 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 1014%;
  left: 34%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f23 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 758%;
  left: 98%;
  -webkit-animation: fall3;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f24 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 1012%;
  left: 34%;
  -webkit-animation: fall4;
  -webkit-animation-duration: 17s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f25 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 1017%;
  left: 76%;
  -webkit-animation: fall4;
  -webkit-animation-duration: 18s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f26 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 712%;
  left: 97%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f27 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 703%;
  left: 9%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 26s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f28 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 1176%;
  left: 33%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 21s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f29 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 907%;
  left: 48%;
  -webkit-animation: fall4;
  -webkit-animation-duration: 13s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f30 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 949%;
  left: 0%;
  -webkit-animation: fall3;
  -webkit-animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f31 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 696%;
  left: 40%;
  -webkit-animation: fall3;
  -webkit-animation-duration: 23s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f32 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 1105%;
  left: 60%;
  -webkit-animation: fall3;
  -webkit-animation-duration: 23s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f33 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 420%;
  left: 36%;
  -webkit-animation: fall3;
  -webkit-animation-duration: 24s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f34 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 777%;
  left: 63%;
  -webkit-animation: fall4;
  -webkit-animation-duration: 14s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f35 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 1036%;
  left: 57%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 11s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f36 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 1123%;
  left: 27%;
  -webkit-animation: fall3;
  -webkit-animation-duration: 22s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f37 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 1106%;
  left: 46%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 16s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f38 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 906%;
  left: 96%;
  -webkit-animation: fall3;
  -webkit-animation-duration: 14s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f39 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 912%;
  left: 37%;
  -webkit-animation: fall3;
  -webkit-animation-duration: 25s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .snowflake.f40 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 418%;
  left: 61%;
  -webkit-animation: fall2;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fall1 {
  /* line 30, ../scss/style.scss */
  0% {
    top: -50px;
    -webkit-transform: translate(0px, 0px) rotate(0deg);
  }

  /* line 35, ../scss/style.scss */
  100% {
    top: 500px;
    -webkit-transform: translate(100px, 150px) rotate(250deg);
  }
}

@-webkit-keyframes fall2 {
  /* line 42, ../scss/style.scss */
  0% {
    top: -50px;
    -webkit-transform: rotate(-180deg) translate(0px, 0px);
  }

  /* line 46, ../scss/style.scss */
  75% {
    opacity: 0.8;
  }

  /* line 49, ../scss/style.scss */
  100% {
    top: 500px;
    opacity: 0.0;
    -webkit-transform: rotate(180deg) translate(10px, 75px);
  }
}

@-webkit-keyframes fall3 {
  /* line 57, ../scss/style.scss */
  0% {
    top: -50px;
    -webkit-transform: rotate(-180deg);
  }

  /* line 62, ../scss/style.scss */
  100% {
    top: 500px;
    -webkit-transform: rotate(180deg);
    -webkit-transform: rotateY(160deg);
  }
}

@-webkit-keyframes fall4 {
  /* line 70, ../scss/style.scss */
  0% {
    top: -50px;
    -webkit-transform: rotate(-180deg) translate(0px, 0px);
  }

  /* line 74, ../scss/style.scss */
  70% {
    -webkit-transform: rotate(200deg) translate(50px, 100px);
  }

  /* line 77, ../scss/style.scss */
  100% {
    top: 500px;
    -webkit-transform: rotate(380deg) translate(80px, 100px);
  }
}

@-webkit-keyframes fall5 {
  /* line 84, ../scss/style.scss */
  0% {
    top: -50px;
  }

  /* line 87, ../scss/style.scss */
  10% {
    -webkit-transform: rotate(-180deg) translate(0px, 0px);
  }

  /* line 90, ../scss/style.scss */
  100% {
    top: 500px;
    -webkit-transform: rotate(50deg) translate(100px, 80px);
  }
}
