/* line 1, ../scss/style.scss */
body {
  margin: 0;
  width: 100%;
}

/* line 6, ../scss/style.scss */
.container {
  background-color: #1b2e33;
  width: 100%;
  height: 500px;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f1 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 164%;
  left: 90%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f2 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 188%;
  left: 32%;
  -webkit-animation: fall2;
  -webkit-animation-duration: 24s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f3 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 242%;
  left: 80%;
  -webkit-animation: fall2;
  -webkit-animation-duration: 24s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f4 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 156%;
  left: 43%;
  -webkit-animation: fall2;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f5 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 270%;
  left: 0%;
  -webkit-animation: fall3;
  -webkit-animation-duration: 27s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f6 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 102%;
  left: 7%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f7 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 159%;
  left: 36%;
  -webkit-animation: fall2;
  -webkit-animation-duration: 22s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f8 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 104%;
  left: 85%;
  -webkit-animation: fall3;
  -webkit-animation-duration: 26s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f9 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 215%;
  left: 63%;
  -webkit-animation: fall2;
  -webkit-animation-duration: 26s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f10 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 187%;
  left: 38%;
  -webkit-animation: fall2;
  -webkit-animation-duration: 16s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f11 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 231%;
  left: 74%;
  -webkit-animation: fall3;
  -webkit-animation-duration: 27s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f12 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 205%;
  left: 51%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f13 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 299%;
  left: 93%;
  -webkit-animation: fall4;
  -webkit-animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f14 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 184%;
  left: 47%;
  -webkit-animation: fall2;
  -webkit-animation-duration: 19s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f15 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 171%;
  left: 31%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 24s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f16 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 171%;
  left: 39%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 27s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f17 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 182%;
  left: 30%;
  -webkit-animation: fall3;
  -webkit-animation-duration: 14s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f18 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 249%;
  left: 78%;
  -webkit-animation: fall3;
  -webkit-animation-duration: 14s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f19 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 120%;
  left: 19%;
  -webkit-animation: fall4;
  -webkit-animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f20 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 145%;
  left: 14%;
  -webkit-animation: fall4;
  -webkit-animation-duration: 26s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f21 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 125%;
  left: 54%;
  -webkit-animation: fall3;
  -webkit-animation-duration: 21s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f22 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 156%;
  left: 76%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 21s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f23 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 114%;
  left: 51%;
  -webkit-animation: fall2;
  -webkit-animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f24 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 246%;
  left: 53%;
  -webkit-animation: fall2;
  -webkit-animation-duration: 18s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f25 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 246%;
  left: 86%;
  -webkit-animation: fall2;
  -webkit-animation-duration: 25s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f26 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 266%;
  left: 88%;
  -webkit-animation: fall4;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f27 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 136%;
  left: 58%;
  -webkit-animation: fall4;
  -webkit-animation-duration: 22s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f28 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 264%;
  left: 23%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 14s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f29 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 101%;
  left: 24%;
  -webkit-animation: fall2;
  -webkit-animation-duration: 11s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f30 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 174%;
  left: 78%;
  -webkit-animation: fall3;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f31 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 234%;
  left: 48%;
  -webkit-animation: fall4;
  -webkit-animation-duration: 13s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f32 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 209%;
  left: 83%;
  -webkit-animation: fall3;
  -webkit-animation-duration: 13s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f33 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 234%;
  left: 20%;
  -webkit-animation: fall4;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f34 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 290%;
  left: 52%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f35 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 186%;
  left: 48%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f36 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 234%;
  left: 60%;
  -webkit-animation: fall2;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f37 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 191%;
  left: 58%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f38 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 145%;
  left: 95%;
  -webkit-animation: fall2;
  -webkit-animation-duration: 27s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f39 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 181%;
  left: 50%;
  -webkit-animation: fall1;
  -webkit-animation-duration: 21s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 13, ../scss/style.scss */
.container .snow .icon-snowflake.f40 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 116%;
  left: 53%;
  -webkit-animation: fall2;
  -webkit-animation-duration: 24s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fall1 {
  /* line 30, ../scss/style.scss */
  0% {
    top: -50px;
    -webkit-transform: translate(0px, 0px) rotate(0deg);
  }

  /* line 35, ../scss/style.scss */
  100% {
    top: 500px;
    -webkit-transform: translate(100px, 150px) rotate(250deg);
  }
}

@-webkit-keyframes fall2 {
  /* line 42, ../scss/style.scss */
  0% {
    top: -50px;
    -webkit-transform: rotate(-180deg) translate(0px, 0px);
  }

  /* line 46, ../scss/style.scss */
  75% {
    opacity: 0.8;
  }

  /* line 49, ../scss/style.scss */
  100% {
    top: 500px;
    opacity: 0.0;
    -webkit-transform: rotate(180deg) translate(10px, 75px);
  }
}

@-webkit-keyframes fall3 {
  /* line 57, ../scss/style.scss */
  0% {
    top: -50px;
    -webkit-transform: rotate(-180deg);
  }

  /* line 62, ../scss/style.scss */
  100% {
    top: 500px;
    -webkit-transform: rotate(180deg);
    -webkit-transform: rotateY(160deg);
  }
}

@-webkit-keyframes fall4 {
  /* line 70, ../scss/style.scss */
  0% {
    top: -50px;
    -webkit-transform: rotate(-180deg) translate(0px, 0px);
  }

  /* line 74, ../scss/style.scss */
  70% {
    -webkit-transform: rotate(200deg) translate(50px, 100px);
  }

  /* line 77, ../scss/style.scss */
  100% {
    top: 500px;
    -webkit-transform: rotate(380deg) translate(80px, 100px);
  }
}

@-webkit-keyframes fall5 {
  /* line 84, ../scss/style.scss */
  0% {
    top: -50px;
  }

  /* line 87, ../scss/style.scss */
  10% {
    -webkit-transform: rotate(-180deg) translate(0px, 0px);
  }

  /* line 90, ../scss/style.scss */
  100% {
    top: 500px;
    -webkit-transform: rotate(50deg) translate(100px, 80px);
  }
}
