@import 'compass/css3/images';


%mainbell-gradient{

// needs latest Compass, add '@import "compass"' to your scss
background-color: #fce411; // Old browsers
@include filter-gradient(#fce411, #998a0c, horizontal); // IE6-9 fallback on horizontal gradient
@include background-image(linear-gradient(left,  #fce411 0%,#c6b40f 12%,#8e8a13 20%,#fce514 29%,#ddd533 55%,#bcb72d 71%,#998a0c 100%));

}

%topbell-gradient{
	// needs latest Compass, add '@import "compass"' to your scss
background-color: #ada20f; // Old browsers
@include filter-gradient(#ada20f, #fce514, horizontal); // IE6-9 fallback on horizontal gradient
@include background-image(radial-gradient(top, ellipse cover,  #ada20f 0%,#fce514 100%));

}

%margin_auto {
	margin-left: auto;
	margin-right: auto;
}

@mixin dimensions($width, $height : $width) {
	width: $width;
	height: $height;
}

@mixin pos($top : 0px, $index : false){
	position: relative;
	top: $top;
	
	z-index: $index;
}


.positioner{
	
	background-color: red;
	float: left;
}

.holly{
	
	display: inline-block;
	background-color: black;
	position: relative;
	left: 20px;
}

.bell{
	display: inline-block;
	background-color: white;
	position: relative;
	background-color: rgba(0,0,0,0);


	
	&.bell1{
		z-index: 50;
		-webkit-transform: rotatez(40deg) scale(0.8,1);
		-webkit-transform-origin: top;
	}

	&.bell2{
		z-index: 40;
		-webkit-transform: rotatez(-40deg) scale(0.8,1) ;
		-webkit-transform-origin: top;
		margin-left: -52px;
	}


	.top{
		@include dimensions(10px, 12.5px);
		border-radius: 50%;
		@extend %topbell-gradient;
		@extend %margin_auto;

	}

	.medup{
		@include dimensions(32px, 8px);
		border-radius: 50%;
		@extend %mainbell-gradient;
		@extend %margin_auto;
		@include pos(-4px, 6);
		box-shadow: 0 0 1px rgba(0,0,0,0.5);
	}

	.medsquare{
		@include dimensions(36px, 32px);
		border-top-left-radius: 30%;
		border-top-right-radius: 30%;
		@extend %mainbell-gradient;
		@extend %margin_auto;
		@include pos(-12px, 7);
		box-shadow: 0 0 1px rgba(0,0,0,0.5);
	}


	.medoval1{
		@include dimensions(38px, 4px);
		border-top-left-radius: 40%;
		border-top-right-radius: 40%;
		@extend %mainbell-gradient;
		@extend %margin_auto;
		@include pos(-16px, 8);
		
		}

	.medoval2{
		@include dimensions(40px, 4px);
		border-radius: 40%;
		@extend %mainbell-gradient;
		@extend %margin_auto;
		@include pos(-18px, 9);
		box-bottom-shadow: 0 0 3px rgba(0,0,0,0.5);
	}



	.bottom{
		@include dimensions(48px, 6px);
		border-top-left-radius: 40%;
		border-top-right-radius: 40%;
		border-bottom-left-radius: 40%;
		border-bottom-right-radius: 40%;
		
		background-color: #fce411; // Old browsers
		@include filter-gradient(#fce411, #998a0c, horizontal); // IE6-9 fallback on horizontal gradient
		@include background-image(linear-gradient(left top,  #fce411 0%,#c6b40f 12%,#8e8a13 20%,#fce514 29%,#ddd533 55%,#bcb72d 71%,#998a0c 100%));

		@extend %margin_auto;
		@include pos(-20px, 12);
		box-shadow: 0 0 1px rgba(0,0,0,0.5), 0 4px 4px rgba(0,0,0,0.3);

	}

	.ding{
		@include dimensions(6px, 23px);
		border-radius: 40%;
		background-color: saddlebrown;
		@extend %margin_auto;
		@include pos(-40px, 0);
		
	}

}

