@import 'compass/css3/images';


%mainbell-gradient{

// needs latest Compass, add '@import "compass"' to your scss
background-color: #fce411; // Old browsers
@include filter-gradient(#fce411, #998a0c, horizontal); // IE6-9 fallback on horizontal gradient
@include background-image(linear-gradient(left,  #fce411 0%,#c6b40f 12%,#8e8a13 20%,#fce514 29%,#ddd533 55%,#bcb72d 71%,#998a0c 100%));

}



%margin_auto {
	margin-left: auto;
	margin-right: auto;
}

@mixin dimensions($width, $height : $width) {
	width: $width;
	height: $height;
}

@mixin pos($top : 0px, $index : false){
	position: relative;
	top: $top;
	z-index: $index;
}


.decoration{
	position: relative;
	top:100px;
	background-color: white;
}


.bells, .holly{
	display: inline-block;
	@include dimensions(100px, 100px);
	position:relative;
}

.bell{
	display: inline-block;
	background-color: white;
	position: relative;
	background-color: rgba(0,0,0,0);


	
	&.bell1{
		z-index: 50;
		-webkit-transform: rotatez(40deg) scale(0.8,1);
		-webkit-transform-origin: top;
	}

	&.bell2{
		z-index: 40;
		-webkit-transform: rotatez(-40deg) scale(0.8,1) ;
		-webkit-transform-origin: top;
		margin-left: -55px;
	}


	.top{
		@include dimensions(10px, 8px);
		border-radius: 50%;

		background-color: #ada20f; // Old browsers
		@include filter-gradient(#ada20f, #fce514, horizontal); // IE6-9 fallback on horizontal gradient
		@include background-image(radial-gradient(top, ellipse cover,  #ada20f 0%,#fce514 100%));

		@extend %margin_auto;

	}

	.medup{
		@include dimensions(32px, 8px);
		border-radius: 50%;
		@extend %mainbell-gradient;
		@extend %margin_auto;
		@include pos(-4px, 6);
		box-shadow: 0 0 1px rgba(0,0,0,0.5);
	}

	.medsquare{
		@include dimensions(36px, 32px);
		border-top-left-radius: 30%;
		border-top-right-radius: 30%;
		@extend %mainbell-gradient;
		@extend %margin_auto;
		@include pos(-12px, 7);
		box-shadow: 0 0 1px rgba(0,0,0,0.5);
	}


	.medoval1{
		@include dimensions(38px, 4px);
		border-top-left-radius: 40%;
		border-top-right-radius: 40%;
		@extend %mainbell-gradient;
		@extend %margin_auto;
		@include pos(-16px, 8);
		
		}

	.medoval2{
		@include dimensions(40px, 4px);
		border-radius: 40%;
		@extend %mainbell-gradient;
		@extend %margin_auto;
		@include pos(-18px, 9);
		box-bottom-shadow: 0 0 3px rgba(0,0,0,0.5);
	}



	.bottom{
		@include dimensions(48px, 6px);
		border-radius: 40%;
		
		background-color: #fce411; // Old browsers
		@include filter-gradient(#fce411, #998a0c, horizontal); // IE6-9 fallback on horizontal gradient
		@include background-image(linear-gradient(left top,  #fce411 0%,#c6b40f 12%,#8e8a13 20%,#fce514 29%,#ddd533 55%,#bcb72d 71%,#998a0c 100%));

		@extend %margin_auto;
		@include pos(-20px, 12);
		box-shadow: 0 0 1px rgba(0,0,0,0.5), 0 4px 4px rgba(0,0,0,0.3);

	}

	.ding{
		@include dimensions(6px, 23px);
		border-radius: 40%;
		background-color: saddlebrown;
		@extend %margin_auto;
		@include pos(-40px, 0);
		
	}

}






.holly{

	

	.leaf {
		
		position: relative;
		z-index: 45;
		

		&.leaf1{
			-webkit-transform: rotatez(-71deg) scale(0.1,0.15);
			top: 12px;
			left: 48px;
		}

		

		&.leaf2{
			-webkit-transform: rotatez(134deg) scale(0.1,0.15);
			top: 32px;
			left: 98px;
			
		}	

		.branch {
			
			border-color: #24B50E transparent;
			border-style: inset;
			height: 0;
			width: 0;
			position: absolute;
		
		
			&.b1{
				left:70px;
				top: 20px;
				border-width: 0 30px 65px;
				
				z-index:5;
			}
			
			&.b2{
				left: 40px;
				top: 50px;
				border-width: 0 60px 65px;
				
				z-index:3;
			}

		
			&.b3{
				left: 20px;
				top: 70px;
				border-width: 0 80px 85px;
				
				z-index:3;
			}
		
			&.b4{
				left: -20px;
				top: 110px;
				border-width: 0 120px 95px;
				border-radius: 40%;
				
				z-index:1;
			}
		}
	}
}