@import 'compass/css3/images';
@import 'compass/reset';
@import 'compass/css3/transform';
@import 'compass';
@import 'animation';
@import 'compass/css3/transition';
@import 'generic_fonts';


/*mixins*/

@mixin snowball($width, $height) {
	@extend %snow_style;
	@include dimensions($width, $height);
}

@mixin dimensions($width, $height : $width) {
	width: $width;
	height: $height;
}

@mixin pos($z-index) {
	z-index: $z-index;
}

@mixin posit($top : 0px, $index : false){
	position: relative;
	top: $top;
	z-index: $index;
}

@mixin radius($side_0, $radius_0 : false, $radius_1 : false) {
	@if $radius_0 == false {
		border-radius: $side_0;
	} @else if $radius_1 == false {
		border-#{$side_0}-radius: $radius_0;
	} @else {
		border-#{$side_0}-left-radius: $radius_0;
		border-#{$side_0}-right-radius: $radius_1;
	}
}

@mixin keyframe ($animation_name) {
    @-webkit-keyframes $animation_name {
        @content;
    }
 
    @-moz-keyframes $animation_name {
        @content;
    }
 
    @-o-keyframes $animation_name {
        @content;
    }
 
    @keyframes $animation_name {
        @content;
    }
}



/*placeholders */

%margin_auto {
	margin-left: auto;
	margin-right: auto;
}

%shift_down {
	margin-bottom: -35px;
}

%pos_relative {
	position: relative;
}

/* Styles */

%snow_style {
	background: #fff;
	@include radius(50%);
	/* box-shadow: inset 0px 0px 10px; */
}

%snow_dusting {
	box-shadow: inset 0px 0px 13px rgba(255, 255, 255, 0.44);
}

%green_scarf {
	background-color: green;
	box-shadow: 0px 3px 0px darkgreen;
}

%black_button {
	@include radius(100%);
	background-color: black;
}

%filling {

// needs latest Compass, add '@import "compass"' to your scss
background-color: #cedce7; // Old browsers
@include filter-gradient(#cedce7, #596a72, horizontal); // IE6-9 fallback on horizontal gradient
@include background-image(radial-gradient(top left, ellipse cover,  #cedce7 0%,#cedce7 19%,#cedce7 30%,#596a72 100%));
}

%sign-gradient{
background-color: #a43e35; // Old browsers
@include filter-gradient(#a43e35, #88342c, vertical); // IE6-9
@include background-image(linear-gradient(top,  #a43e35 0%,#88342c 100%));
}

%mainbell-gradient{
// needs latest Compass, add '@import "compass"' to your scss
background-color: #998a0c; // Old browsers
@include filter-gradient(#998a0c, #998a0c, horizontal); // IE6-9
@include background-image(linear-gradient(left,  #998a0c 0%,#c6b40f 19%,#fce514 33%,#ddd533 66%,#bcb72d 81%,#998a0c 100%));
}

/*animations */

@include keyframes(scarf_in_wind) {
	0%, 100% {
		/* @include rotateZ(5deg); */
		-webkit-transform: rotateZ(5deg);
	}

	50% {
		/* @include rotateZ(15deg); */
		-webkit-transform: rotateZ(15deg);
	}
}

@include keyframes(tiphat_rotate_hat) {
	0%, 30%, 70%, 100% {
		-webkit-transform-origin: 150px 220px;
		-webkit-transform: rotateZ(0deg);
	}
	
	50% {
		-webkit-transform: rotateZ(90deg);
	}


}

@include keyframes(tiphat_rotate_arm) {
	0%, 25%, 75%, 100%{
		-webkit-transform: rotateZ(-70deg);
	}

	30%, 70%{
		-webkit-transform: rotateZ(-92deg);
	}

	
	50% {
		-webkit-transform: rotateZ(10deg);
	}

}

@include keyframe (tilt){
	0%, 100%{
		-webkit-transform: rotateZ(-3deg);
		-webkit-transform-origin: 194px 0px;
	}
	
	50%{
		-webkit-transform: rotateZ(10deg);
		-webkit-transform-origin: 194px 0px;
	}
}

@include keyframe (drin1){
	0%, 100%{
		-webkit-transform: rotatez(40deg) scale(0.8,1);
		-webkit-transform-origin: top;
	}
	
	25%{
		-webkit-transform: rotatez(-40deg) scale(0.8,1);
		-webkit-transform-origin: top;
	}

	50%{
		-webkit-transform: rotatez(50deg) scale(0.8,1);
		-webkit-transform-origin: top;
	}

	75%{
		-webkit-transform: rotatez(-70deg) scale(0.8,1);
		-webkit-transform-origin: top;
	}

}

@include keyframe (ding1){
	0%, 100%{
		-webkit-transform: rotatez(-40deg);
	}
	
	25%{
		-webkit-transform: rotatez(40deg);
	}

	50%{
		-webkit-transform: rotatez(-50deg);
	}

	75%{
		-webkit-transform: rotatez(70deg);
	}

}



@include keyframe (drin2){
	0%, 100%{
		-webkit-transform: rotatez(-40deg) scale(0.8,1);
		-webkit-transform-origin: top;
	}
	
	25%{
		-webkit-transform: rotatez(70deg) scale(0.8,1);
		-webkit-transform-origin: top;
	}

	50%{
		-webkit-transform: rotatez(-50deg) scale(0.8,1);
		-webkit-transform-origin: top;
	}

	75%{
		-webkit-transform: rotatez(50deg) scale(0.8,1);
		-webkit-transform-origin: top;
	}
}

@include keyframe (ding2){
	0%, 100%{
		-webkit-transform: rotatez(40deg);
	}
	
	25%{
		-webkit-transform: rotatez(-50deg);
	}

	50%{
		-webkit-transform: rotatez(60deg);
	}

	75%{
		-webkit-transform: rotatez(-70deg);
	}

}

@include keyframe (hollyrot){
	0%, 50%, 100%{
		-webkit-transform: rotatez(0deg);
		z-index: 45;
	}
	
	25%,75%{
		-webkit-transform: rotatez(1deg);
		z-index: 45;
	}
}


@mixin animation ($animation_name, $duration, $delay : 0s, $iteration : infinite, $timing : cubic-bezier(0.35, 0.1, 0.65, 0.9)) {
    -webkit-animation: $animation_name $duration $delay $iteration $timing;
    -moz-animation: $animation_name $duration $delay $iteration $timing;
    -o-animation: $animation_name $duration $delay $iteration $timing;
    animation: $animation_name $duration $delay $iteration $timing;
}

/*general styles */

.container{
	margin: 0;
	padding: 0;
	background-color:  #1b2e33;
	@include dimensions(100%);
	position: relative;
}

// sign styles

.sign{
	@include dimensions(400px,300px);
	@include animation(tilt,10s);
	overflow: visible;
	display: inline-block;
	z-index: 5;
	position: relative;
	left: 300px;
	

	.chain{
		position: relative;
		@include dimensions(10px, 55px);
		background-color: #e5e696;
		border: 1px solid black;
		margin-bottom: -30px;
		margin-left: 189px;
		z-index: 10002;
		border-bottom-left-radius: 20%;
		border-bottom-right-radius: 20%;
		box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
	}

	

	.board {
		position:relative;
		z-index: 5;
		width: 320px;
		@extend %margin_auto;
		@extend %sign-gradient;
		-webkit-transform: rotateZ(-3deg);
		box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.6);
		@include radius(5px);
		text-align: center;
		margin-top: 10px;
		padding-top: 10px;
		padding-bottom: 25px;
		

		.hole{
			@include dimensions(15px);
			@include radius(50%);
			@extend %margin_auto;
			background-color: rgb(27, 46, 51);
			border: 4px solid rgba(0, 0, 0, 0.2);
			box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
		}


		.countdown-number {
			margin: 0;
			font-size: 10em;
			font-family: helvetica;
			color: white;
			text-shadow: -5px -5px 0px rgba(150, 150, 150, 0.4);
			-webkit-transform: rotateZ(-1deg);
			line-height: 0.8;
			padding-top: 40px;
		}
		.countdown-description {
			margin: 0;
			font-size: 3em;
			font-family: helvetica;
			color: black;
			text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
			-webkit-transform: rotateZ(1deg);

		}
	}
}

// decoration styles

.decoration{
	display: inline-block;
	-webkit-transform: scale(1.5,1.5);
	margin-top: 50px;
	z-index: 9;
	&.d1{
		float:left;
		margin-left: -50px;
	}
	&.d2{
		float:right;
		position: relative;
		right: 20px;
	}
}


.bells, .holly{
	display: inline-block;
	@include dimensions(100px, 100px);
	position:relative;
}

.bell{
	display: inline-block;
	background-color: white;
	position: relative;
	background-color: rgba(0,0,0,0);


	
	&.bell1{
		z-index: 50;
		-webkit-transform: rotatez(40deg) scale(0.8,1);
		-webkit-transform-origin: top;
		@include animation(drin1, 5s, 2s, infinite, linear);
	}

	&.bell2{
		z-index: 40;
		-webkit-transform: rotatez(-40deg) scale(0.8,1) ;
		-webkit-transform-origin: top;
		margin-left: -55px;
		@include animation(drin2, 5s, 2s, infinite, linear);
	}


	.top{
		@include dimensions(10px, 8px);
		border-radius: 50%;

		background-color: #ada20f; // Old browsers
		@include filter-gradient(#ada20f, #fce514, horizontal); // IE6-9 fallback on horizontal gradient
		@include background-image(radial-gradient(top, ellipse cover,  #ada20f 0%,#fce514 100%));

		@extend %margin_auto;

	}

	.medup{
		@include dimensions(32px, 8px);
		border-radius: 50%;
		@extend %mainbell-gradient;
		@extend %margin_auto;
		@include posit(-4px, 6);
		box-shadow: 0 0 1px rgba(0,0,0,0.5);
	}

	.medsquare{
		@include dimensions(36px, 32px);
		border-top-left-radius: 30%;
		border-top-right-radius: 30%;
		@extend %mainbell-gradient;
		@extend %margin_auto;
		@include posit(-12px, 7);
		box-shadow: 0 0 1px rgba(0,0,0,0.5);
	}


	.medoval1{
		@include dimensions(38px, 4px);
		border-top-left-radius: 40%;
		border-top-right-radius: 40%;
		@extend %mainbell-gradient;
		@extend %margin_auto;
		@include posit(-16px, 8);
		
		}

	.medoval2{
		@include dimensions(40px, 4px);
		border-radius: 40%;
		@extend %mainbell-gradient;
		@extend %margin_auto;
		@include posit(-18px, 9);
		box-bottom-shadow: 0 0 3px rgba(0,0,0,0.5);
	}



	.bottom{
		@include dimensions(48px, 6px);
		border-radius: 40%;
		

		background-color: #998a0c; // Old browsers
		@include filter-gradient(#998a0c, #998a0c, horizontal); // IE6-9
		@include background-image(linear-gradient(top left,  #998a0c 0%,#c6b40f 19%,#fce514 33%,#ddd533 66%,#bcb72d 81%,#998a0c 100%));

		@extend %margin_auto;
		@include posit(-20px, 12);
		box-shadow: 0 0 1px rgba(0,0,0,0.5), 0 6px 6px rgba(10,10,10,0.2);

	}

	.ding{
		@include dimensions(6px, 25px);
		border-radius: 40%;
		background-color: saddlebrown;
		@extend %margin_auto;
		@include posit(-40px, 0);

	}

}

.bell1 .ding{
	@include animation(ding1, 5s, 2s, infinite, linear);
}

.bell2 .ding{
	@include animation(ding2, 5s, 2s, infinite, linear);
}




.holly{

	@include animation(hollyrot, 5s, 2s, infinite, linear);

	.leaf {
		
		position: relative;
		z-index: 45;
		

		&.leaf1{
			-webkit-transform: rotatez(-71deg) scale(0.1,0.15);
			top: 12px;
			left: 48px;
		}

		

		&.leaf2{
			-webkit-transform: rotatez(134deg) scale(0.1,0.15);
			top: 32px;
			left: 98px;
			
		}	

		.branch {
			
			border-color: #24B50E transparent;
			border-style: inset;
			height: 0;
			width: 0;
			position: absolute;
		
		
			&.b1{
				left:70px;
				top: 20px;
				border-width: 0 30px 65px;
				
				z-index:5;
			}
			
			&.b2{
				left: 40px;
				top: 50px;
				border-width: 0 60px 65px;
				
				z-index:3;
			}

		
			&.b3{
				left: 20px;
				top: 70px;
				border-width: 0 80px 85px;
				
				z-index:3;
			}
		
			&.b4{
				left: -20px;
				top: 110px;
				border-width: 0 120px 95px;
				border-radius: 40%;
				
				z-index:1;
			}
		}
	}
}

// snowman styles,



.snowman {
	/* width: 30%; */
	@include scale(0.77);
	z-index: 4;
	position: relative;
	left: 400px;
	bottom: 50px;

	& > div {
		position: relative;
	}

	.hat {
		@extend %margin_auto;
		@include pos(5);
		@include dimensions(160px, auto);
		@include apply-origin(bottom, false);
		@include rotateZ(5deg);

		@include animation(tiphat_rotate_hat, 6s, 0s, infinite, linear);/*2.5s, 10s);*/

		.top {
			position: relative;
			@include pos(2);

			@extend %margin_auto;
			margin-bottom: -10px;

			@include dimensions(70%, 20px);
			background-color: black;
			@include radius(100%);

			@extend %snow_dusting;
		}

		.middle {
			position: relative;
			@include pos(1);

			@extend %margin_auto;
			margin-bottom: -10px;
			@include dimensions(70%, 65px);
			background-color: black;
		}

		.base {
			position: relative;
			@include pos(0);

			@include dimensions(100%, 25px);
			background-color: black;
			@include radius(100%);
			margin-bottom: -20px;

			@extend %snow_dusting;
		}
	}

	.head {
		@include pos(4);
		@extend %margin_auto;
		margin-bottom: -28px;
		@include snowball(115px, 92px);
		@extend %filling;

		/*box-shadow: inset 0px -3px 10px rgba(0, 0, 0, 0.4); */

		.eye {
			@include dimensions(20px);
			@extend %black_button;

			position: absolute;
			right: 55%;
			top: 25%;
			box-shadow: 36px 0px black;
			
			/* background-color: #1600e2;
			@include filter-gradient(#1600e2, #000000, horizontal);
			@include background-image(radial-gradient(center, ellipse cover,  #1600e2 1%,#000000 62%)); */
		}

		.nose {
			position: absolute;
			bottom: 27%;
			left: 46%;
			@include rotateZ(20deg);
			border-style: solid;
			@include radius(top-left, 10px);
			@include radius(bottom-left, 10px);
			/* border-top-left-radius: 10px;
			border-bottom-left-radius: 10px; */
			border-width: 10px 0px 10px 50px;
			border-color: transparent transparent transparent #ff8c00;
		}

		.mouth {
			@extend %margin_auto;
			position: relative;
			top: 50%;
			
			@include dimensions(44px, 20px);
			border-bottom: 20px black solid;

			@include radius(bottom, 154%, 113%);
			/* border-bottom-left-radius: 154%;
			border-bottom-right-radius: 113%; */
		}
	}

	.scarf {
		@include pos(3);
		@extend %margin_auto;
		margin-bottom: -32px;
		@include dimensions(115px, 32px);
		@include radius(100%);
		@extend %green_scarf;

		.end {
			position: absolute;
			right: 10px;
			top: 18px;

			@include apply-origin(top, false);
			@include animation(scarf_in_wind, 0.7s, 0s, infinite, linear);

			@extend %green_scarf;
			@include dimensions(15px, 75px);
			
			border-top-right-radius: 100%;

			&:first-child {
				right: 15px;
				@include animation-delay(0.3s);
			}

			&:last-child {
				box-shadow: -4px 3px darkgreen, 0px 3px 0px darkgreen, 1px 3px 0px darkgreen;
				/* -webkit-transform: rotateZ(-25deg); */
			}
		}
	}

	.belly {
		@include pos(2);
		margin-bottom: -40px;
		@extend %margin_auto;
		@include snowball(185px, 130px);
		/*box-shadow: inset 0px -3px 10px rgba(0, 0, 0, 0.4), 0px 6px 5px rgba(0, 0, 0, 0.1);*/
		@extend %filling;

		.arm {
			.finger {
				left: -20px;

				&:nth-child(1) {
					@include rotateZ(-135deg);
					bottom: 150%;
				}

				&:nth-child(2) {
					top: 1.5px;
				}

				&:nth-child(3) {
					@include rotateZ(-225deg);
					top: 150%;
				}
			}

			&:first-child {
				position: absolute;
				right: 94%;
				top: 50%;

				.limb {
					@include rotateZ(72deg);
					width: 116px;
				}
			}

			&:nth-child(2) {
				position: absolute;
				left: 94%;
				top: 50%;
				@include rotateZ(180deg);

				.limb {
					width: 116px;
					@include animation(tiphat_rotate_arm, 6s, 0s, infinite, linear);
				}
			}

			.limb {
				position: relative;

				@include apply-origin(right, false);

				@include dimensions(214px, 10px);
				background-color: saddlebrown;

				@include radius(top-right, 5px);
				@include radius(bottom-right, 5px);

				.finger {
					position: absolute;
					@include dimensions(30px, 6px);
					background-color: saddlebrown;
				}
			}
		}

		.buttonz {
			@include dimensions(16px);
			@extend %black_button;
			@extend %margin_auto;

			position: relative;
			top: 30%;
			box-shadow: 0px 26px 0px black, 0px 52px 0 black;
		}
	}

	.legs {
		@include pos(1);
		@extend %margin_auto;
		@extend %pos_relative;
		@include snowball(250px, 170px);
		box-shadow: 0px 35px 120px;

		@extend %filling;
	}
}

.ground {
position: absolute;
bottom: 0px;
height: 50px;
width: 100%;
background-color: white;
z-index: 1;
}

.ground:before {
	content: "";
	display: block;
	position: absolute;
	border-radius: 189% 58%;
	width: 50%;
	height: 132px;
	bottom: -41px;
	right: -3;
	background-color: white;
	z-index: 1;

}

.ground:after {
	content: "";
	display: block;
	position: absolute;
	border-radius: 66% 50%;
	width: 50%;
	height: 89px;
	background-color: #1b2e33;
	left: 111px;
	bottom: 15px;
	z-index: 1;
}

.ground_1 {
	display: block;
	position: absolute;
	border-radius: 4% 100%;
	width: 25%;
	height: 87px;
	left: -188px;
	bottom: 15px;
	z-index: 110;
	background-color: white;
	z-index: 1;
}

.snow {
	@for $i from 1 through 80 {
		.icon-snowflake.f#{$i}{
			@if $i < 41 {
				-webkit-animation-delay:8s;
			}
			float: left;
			margin: auto;
			color: white;
			position:absolute;
			z-index: (random(10)+2);
			opacity:(random(100)/100);
			font-size: ((percentage(random(100))/100)+ 100);
			left: (percentage(random())/100);
			-webkit-animation:fall + (random(5)+1);
			-webkit-animation-duration: (random(30)+15) + s;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-timing-function: linear;
		}
	}
}
@-webkit-keyframes fall1 {
	0% {
		top: -10%;
		-webkit-transform: translate(0px, 0px) rotate(0deg);
	}
	100% {
		top: 100%;
		-webkit-transform: translate(100px,150px) rotate(250deg);
	}
}

@-webkit-keyframes fall3 {
	0% {
		top: -10%;
		-webkit-transform: rotate(-180deg) translate(0px, 0px);
	}
	75% {
		opacity: 0.8;
	}
	100% {
		top: 100%;
		opacity: 0.0;
		-webkit-transform: rotate(150deg) translate(10px, 75px);
	}
}

@-webkit-keyframes fall2 {
  0% {
  	top: -10%;
  }
  10% {
  	-webkit-transform: rotate(-180deg) translate(0px, 0px);
  }
  100% { 
  	top: 100%;
  	-webkit-transform: rotate(50deg) translate(100px, 80px);
  }
}

@-webkit-keyframes fall4 {
	0% { 
		top: -10%;
		-webkit-transform: rotate(-180deg);
	}
	100% { 
		top: 100%;
		-webkit-transform: rotate(180deg);
		-webkit-transform: rotateY(160deg);
	}
}

@-webkit-keyframes fall5 {
	0% {
		top: -10%;
		-webkit-transform: rotate(-180deg) translate(0px, 0px);
	}
	70% {
		-webkit-transform: rotate(200deg) translate(50px, 100px);
	}
	100% {
		top: 100%;
		-webkit-transform: rotate(380deg) translate(80px, 100px);
	}
}

[class*="icon-"] {
	font-family: 'SED';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-snow:before {
	content: "\e60d";
}

.icon-snowflake:before {
	content: "\e61b";
}

//tree 

.ctree {
	position: relative;
	z-index: 7;
	bottom: -70px;
	left: 200px;

	.trunk {
		border-color: #3b200f transparent;
		border-style: solid;
		border-width: 0 19px 208px;
		bottom: 0;
		height: 0px;
		width: 0;
		position: absolute;
		z-index: 10;
		left: 81px;
		top: 11px;
	}

	.branch {
	position: absolute;
	border-style: solid;
	border-color: transparent transparent #336633;
		
	}
	.branch.b1{
		border-bottom-right-radius: 50px;
		border-bottom-left-radius: 50px;
		left: 60px;
		top: 0px;
		border-width: 0px 40px 60px 40px;
		z-index: 11;
	}
	.branch.b2{
		border-bottom-right-radius: 50px;
		border-bottom-left-radius: 50px;
		left: 40px;
		top: 20px;
		border-width: 0px 60px 80px 60px;
		z-index: 11;
	}
	.branch.b3{
		border-bottom-right-radius: 60px;
		border-bottom-left-radius: 60px;
		left: 20px;
		top: 40px;
		border-width: 0px 80px 100px 80px;
		z-index: 11;
	} 
	.branch.b4{
		border-bottom-right-radius: 80px;
		border-bottom-left-radius: 80px;
		left: 0px;
		top: 60px;
		border-width: 0px 100px 120px 100px;
		z-index: 11;
	}

	.dec {
		background: transparent;
		border-style: dotted;
		border-width: 8px;
		@include radius(bottom-left, 50px);
		@include radius(bottom-right, 50px);
		z-index: 12;
		position: absolute;
		-webkit-animation-name: lights1;
		-webkit-animation-duration: 2s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
	}
	.dec.d1 {
		-webkit-transform: rotate(16deg);
		clip: rect(42px, 74px, 65px, 33px);
		width: 140px;
		height: 64px;
		top: -22px;
		left: 59px;
	}
	.dec.d2 {
		-webkit-transform: rotate(-27deg);
		clip: rect(61px, 86px, 87px, 19px);
		width: 107px;
		height: 76px;
		top: 0px;
		left: 25px;
	}
	.dec.d3 {
		-webkit-transform: rotate(20deg);
		clip: rect(44px, 120px, 84px, 28px);
		width: 138px;
		height: 64px;
		top: 45px;
		left: 43px;
	}
	.dec.d4 {
		-webkit-transform: rotate(-5deg);
		clip: rect(32px, 128px, 64px, 21px);
		width: 139px;
		height: 51px;
		top: 92px;
		left: 25px;
	}

	.dec.d5 {
		-webkit-transform: rotate(18deg);
		clip: rect(36px, 106px, 100px, 16px);
		width: 140px;
		height: 84px;
		top: 87px;
		left: 26px;
	}

	.ball_r {
		width: 15px;
		height: 15px;
		background-color: #660000;
		-webkit-box-shadow: 0px 0px 7px white;
		-webkit-border-radius: 50px;
		position: absolute;
		z-index: 13;
	}

	.ball_w{
		width: 15px;
		height: 15px;
		background-color: #D4D4D4;
		-webkit-box-shadow: 0px 0px 7px white;
		-webkit-border-radius: 50px;
		position: absolute;
		z-index: 13;
	}

	.ball_w.ba1 {
		top: 34px;
		left: 80px;
	}
	.ball_w.ba2 {
		top: 72px;
		left: 122px;
	}
	.ball_w.ba3 {
		top: 112px;
		left: 46px;
	}
	.ball_w.ba4 {
		top: 148px;
		left: 147px;
	}
	.ball_r.ba5 {
		top: 34px;
		left: 105px;
	}
	.ball_r.ba6 {
		top: 73px;
		left: 64px;
	}
	.ball_r.ba7 {
		top: 112px;
		left: 142px;
	}
	.ball_r.ba8 {
		top: 144px;
		left: 30px;
	}
	.ball_r.ba9 {
		top: 100px;
		left: 93px;
	}
	.ball_w.ba10 {
		top: 143px;
		left: 93px;
	}

	.star{
		top: -1px;
		left: 96px;
		position: absolute;
		z-index: 14;

		.point{
			position: absolute;
		}

		.middle {
			position: absolute;
			top: 0px;
			left: 0px;
			background: #ffd700;
			height: 9px;
			width: 9px;
		}

		.point.p1 {
			top: -8px;
			left: 0px;
			width: 0;
			height: 0;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-bottom: 8px solid #ffd700;
		}

		.point.p2 {
			top: 0px;
			left: 7px;
			width: 0;
			height: 0;
			border-top: 4px solid transparent;
			border-left: 8px solid #ffd700;
			border-bottom: 4px solid transparent;
		}

		.point.p3 {
			top: 8px;
			left: 0px;
			width: 0;
			height: 0;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-top: 16px solid #ffd700;
		}

		.point.p4 {
			top: 0px;
			left: -7px;
			width: 0;
			height: 0;
			border-top: 4px solid transparent;
			border-right: 8px solid #ffd700;
			border-bottom: 4px solid transparent;
		}
	}
}