@mixin radius($side_0, $radius_0 : false, $radius_1 : false) {
	@if $radius_0 == false {
		border-radius: $side_0;
	} @else if $radius_1 == false {
		border-#{$side_0}-radius: $radius_0;
	} @else {
		border-#{$side_0}-left-radius: $radius_0;
		border-#{$side_0}-right-radius: $radius_1;
	}
}

.ctree {
	position: absolute;
	z-index: 100;
	top: 20px;
	left: 15px;

	.trunk {
		border-color: #3b200f transparent;
		border-style: solid;
		border-width: 0 19px 208px;
		bottom: 0;
		height: 0px;
		width: 0;
		position: absolute;
		z-index: 10;
		left: 81px;
		top: 11px;
	}

	.branch {
	position: absolute;
	border-style: solid;
	border-color: transparent transparent #336633;
		
	}
	.branch.b1{
		border-bottom-right-radius: 50px;
		border-bottom-left-radius: 50px;
		left: 60px;
		top: 0px;
		border-width: 0px 40px 60px 40px;
		z-index: 11;
	}
	.branch.b2{
		border-bottom-right-radius: 50px;
		border-bottom-left-radius: 50px;
		left: 40px;
		top: 20px;
		border-width: 0px 60px 80px 60px;
		z-index: 11;
	}
	.branch.b3{
		border-bottom-right-radius: 60px;
		border-bottom-left-radius: 60px;
		left: 20px;
		top: 40px;
		border-width: 0px 80px 100px 80px;
		z-index: 11;
	} 
	.branch.b4{
		border-bottom-right-radius: 80px;
		border-bottom-left-radius: 80px;
		left: 0px;
		top: 60px;
		border-width: 0px 100px 120px 100px;
		z-index: 11;
	}

	.dec {
		background: transparent;
		border-style: dotted;
		border-width: 8px;
		@include radius(bottom-left, 50px);
		@include radius(bottom-right, 50px);
		z-index: 12;
		position: absolute;
		-webkit-animation-name: lights1;
		-webkit-animation-duration: 2s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
	}
	.dec.d1 {
		-webkit-transform: rotate(16deg);
		clip: rect(42px, 74px, 65px, 33px);
		width: 140px;
		height: 64px;
		top: -22px;
		left: 59px;
	}
	.dec.d2 {
		-webkit-transform: rotate(-27deg);
		clip: rect(61px, 86px, 87px, 19px);
		width: 107px;
		height: 76px;
		top: 0px;
		left: 25px;
	}
	.dec.d3 {
		-webkit-transform: rotate(20deg);
		clip: rect(44px, 120px, 84px, 28px);
		width: 138px;
		height: 64px;
		top: 45px;
		left: 43px;
	}
	.dec.d4 {
		-webkit-transform: rotate(-5deg);
		clip: rect(32px, 128px, 64px, 21px);
		width: 139px;
		height: 51px;
		top: 92px;
		left: 25px;
	}

	.dec.d5 {
		-webkit-transform: rotate(18deg);
		clip: rect(36px, 106px, 100px, 16px);
		width: 140px;
		height: 84px;
		top: 87px;
		left: 26px;
	}

	.ball_r {
		width: 15px;
		height: 15px;
		background-color: #660000;
		-webkit-box-shadow: 0px 0px 7px white;
		-webkit-border-radius: 50px;
		position: absolute;
		z-index: 13;
	}

	.ball_w{
		width: 15px;
		height: 15px;
		background-color: #D4D4D4;
		-webkit-box-shadow: 0px 0px 7px white;
		-webkit-border-radius: 50px;
		position: absolute;
		z-index: 13;
	}

	.ball_w.ba1 {
		top: 34px;
		left: 80px;
	}
	.ball_w.ba2 {
		top: 72px;
		left: 122px;
	}
	.ball_w.ba3 {
		top: 112px;
		left: 46px;
	}
	.ball_w.ba4 {
		top: 148px;
		left: 147px;
	}
	.ball_r.ba5 {
		top: 34px;
		left: 105px;
	}
	.ball_r.ba6 {
		top: 73px;
		left: 64px;
	}
	.ball_r.ba7 {
		top: 112px;
		left: 142px;
	}
	.ball_r.ba8 {
		top: 144px;
		left: 30px;
	}
	.ball_r.ba9 {
		top: 100px;
		left: 93px;
	}
	.ball_w.ba10 {
		top: 143px;
		left: 93px;
	}

	.star{
		top: -1px;
		left: 96px;
		position: absolute;
		z-index: 14;

		.point{
			position: absolute;
		}

		.middle {
			position: absolute;
			top: 0px;
			left: 0px;
			background: #ffd700;
			height: 9px;
			width: 9px;
		}

		.point.p1 {
			top: -8px;
			left: 0px;
			width: 0;
			height: 0;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-bottom: 8px solid #ffd700;
		}

		.point.p2 {
			top: 0px;
			left: 7px;
			width: 0;
			height: 0;
			border-top: 4px solid transparent;
			border-left: 8px solid #ffd700;
			border-bottom: 4px solid transparent;
		}

		.point.p3 {
			top: 8px;
			left: 0px;
			width: 0;
			height: 0;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-top: 16px solid #ffd700;
		}

		.point.p4 {
			top: 0px;
			left: -7px;
			width: 0;
			height: 0;
			border-top: 4px solid transparent;
			border-right: 8px solid #ffd700;
			border-bottom: 4px solid transparent;
		}
	}
}