@mixin snowball($width, $height) {
	@extend %snow_style;
	@include dimensions($width, $height);
}

@mixin dimensions($width, $height : $width) {
	width: $width;
	height: $height;
}

@mixin pos($z-index) {
	z-index: $z-index;
}

@mixin radius($side_0, $radius_0 : false, $radius_1 : false) {
	@if $radius_0 == false {
		border-radius: $side_0;
	} @else if $radius_1 == false {
		border-#{$side_0}-radius: $radius_0;
	} @else {
		border-#{$side_0}-left-radius: $radius_0;
		border-#{$side_0}-right-radius: $radius_1;
	}
}

@mixin keyframe ($animation_name) {
    @-webkit-keyframes $animation_name {
        @content;
    }
 
    @-moz-keyframes $animation_name {
        @content;
    }
 
    @-o-keyframes $animation_name {
        @content;
    }
 
    @keyframes $animation_name {
        @content;
    }
}

//@include radius(50px);
//@include radius(bottom-left, 50px);
//@include radius(bottom, 50px, 60px);

// @mixin radius_1($side_v : null, $side_h: null, $radius_0) {
// 	border-#{$side_v}-#{$side_h}: $radius;
// }

// @include radius_1(50px);
// @include radius_1(top, 50px); --> border-top-radius = 50px
// @include radius_1(bottom, left, 50px); --> border-bottom-left-radius: 50px;