body {
	margin: 0;
}

.container {
	background-color: #1b2e33;
	width: 50%;
	height: 500px;


	.snow{

		.snowflake{
			float: left;
			margin: auto;
			color: white;
		}	
		.snowflake.f1 {
			-webkit-animation:fall1;
			left: 50px;
			font-size: 3em;
			position:relative;
			-webkit-animation-duration: 3s;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-timing-function: linear;
		}
		.snowflake.f2 {
			-webkit-animation:fall2;
			left: 100px;
			font-size: 3em;
			position:relative;
			-webkit-animation-duration: 3s;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-timing-function: linear;
		}
		.snowflake.f3 {
			-webkit-animation:fall3;
			left: 150px;
			font-size: 3em;
			position:relative;
			-webkit-animation-duration: 3s;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-timing-function: linear;
		}
	}
}

@-webkit-keyframes fall1 {
	0% {
		top: -50px;
		-webkit-transform: translate(0px, 0px) rotate(0deg);
	}
	100% {
		top: 500px;
		-webkit-transform: translate(100px,150px) rotate(250deg);
	}
}

@-webkit-keyframes fall2 {
	0% {
		top: -50px;
		-webkit-transform: rotate(-180deg) translate(0px, 0px);
	}
	100% {
		top: 500px;
		-webkit-transform: rotate(180deg) translate(10px, 75px);
	}
}

@-webkit-keyframes fall3 {
	0% { 
		top: -50px;
		-webkit-transform: rotate(-180deg);
	}
	25% {

	}
	100% { 
		top: 500px;
		-webkit-transform: rotate(180deg);
		-webkit-transform: rotateY(160deg);
	}
}

@-webkit-keyframes fall4 {

}















