body {
	margin: 0;
}

.container {
	background-color: #1b2e33;
	width: 50%;
	height: 500px;


	.snow{

		.snowflake{
			float: left;
			margin: auto;
			color: white;

		}	
		.snowflake.f1 {
			left: 100px;
			font-size: 3em;
			-webkit-animation:fall1;
			position:relative;
			-webkit-animation-duration: 5s;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-timing-function: linear;
		}
		.snowflake.f2 {
			font-size: 3em;
			-webkit-animation:fall2;
			position:relative;
			-webkit-animation-duration: 5s;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-timing-function: linear;
			
		}
		.snowflake.f3 {
			font-size: 3em;
			-webkit-animation:fall3;
			position:relative;
			-webkit-animation-duration: 5s;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-timing-function: linear;
		}

		.snowflake.f4 {
			font-size: 3em;
			-webkit-animation:fall4;
			position:relative;
			-webkit-animation-duration: 5s;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-timing-function: linear;
		}
		.snowflake.f5 {
			font-size: 3em;
			-webkit-animation:fall5;
			position:relative;
			-webkit-animation-duration: 5s;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-iteration-count: linear;
		}
	}
}

@-webkit-keyframes fall1 {
	0% {
		top: -50px;
		-webkit-transform: translate(0px, 0px) rotate(0deg);
	}

	100% {
		top: 500px;
		-webkit-transform: translate(100px,150px) rotate(250deg);
	}
}

@-webkit-keyframes fall2 {
	0% {
		top: -50px;
		-webkit-transform: rotate(-180deg) translate(0px, 0px);
	}
	75% {
		opacity: 0.8;
	}
	100% {
		top: 500px;
		opacity: 0.0;
		-webkit-transform: rotate(180deg) translate(10px, 75px);
	}
}

@-webkit-keyframes fall3 {
	0% { 
		top: -50px;
		-webkit-transform: rotate(-180deg);
	}

	100% { 
		top: 500px;
		-webkit-transform: rotate(180deg);
		-webkit-transform: rotateY(160deg);
	}
}

@-webkit-keyframes fall4 {
	0% {
		top: -50px;
		-webkit-transform: rotate(-180deg) translate(0px, 0px);
	}
	70% {
		-webkit-transform: rotate(200deg) translate(50px, 100px);
	}
	100% {
		top: 500px;
		-webkit-transform: rotate(380deg) translate(80px, 100px);
	}
}

@-webkit-keyframes fall5 {
  0% {
  	top: -50px;
  }
  10% {
  	-webkit-transform: rotate(-180deg) translate(0px, 0px);
  }
  100% { 
  	top: 500px;
  	-webkit-transform: rotate(50deg) translate(100px, 80px);
  }
}