/*mixins*/
/* @mixin animation ($animation_name, $duration, $delay : 0s, $iteration : infinite, $timing : ease-in-out) {
    -webkit-animation-name: $animation_name;
    -webkit-animation-duration: $duration;
    -webkit-animation-delay: $delay;
    -webkit-animation-iteration-count: $iteration;
    -webkit-timing-function: $timing;
 
    -moz-animation-name: $animation_name;
    -moz-animation-duration: $duration;
    -moz-animation-delay: $delay;
    -moz-animation-iteration-count: $iteration;
    -moz-timing-function: $timing;
 
    -o-animation-name: $animation_name;
    -o-animation-duration: $duration;
    -o-animation-delay: $delay;
    -o-animation-iteration-count: $iteration;
    -o-timing-function: $timing;
 
	animation-name: $animation_name;
	animation-duration: $duration;
	animation-delay: $delay;
	animation-iteration-count: $iteration;
	timing-function: $timing;
} */
/*placeholders */
/* line 74, ../scss/snowman/_mixins_placeholders.scss */
.timer, .snowman .hat, .snowman .hat .top, .snowman .hat .middle, .snowman .head, .snowman .scarf, .snowman .belly, .snowman .legs {
  margin-left: auto;
  margin-right: auto;
}

/* Styles */
/* line 89, ../scss/snowman/_mixins_placeholders.scss */
.snowman .head, .snowman .belly, .snowman .legs {
  background: #fff;
  border-radius: 50%;
  /* box-shadow: inset 0px 0px 10px; */
}

/* line 95, ../scss/snowman/_mixins_placeholders.scss */
.snowman .hat .top, .snowman .hat .base {
  box-shadow: inset 0px 0px 13px rgba(255, 255, 255, 0.44);
}

/* line 99, ../scss/snowman/_mixins_placeholders.scss */
.snowman .scarf, .snowman .scarf .end {
  background-color: green;
  box-shadow: 0px 3px 0px darkgreen;
}

/* line 104, ../scss/snowman/_mixins_placeholders.scss */
.snowman .head .eye, .snowman .belly .buttonz {
  border-radius: 100%;
  background-color: black;
}

/* line 17, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@-moz-keyframes scarf_in_wind {
  /* line 6, ../scss/snowman/_animations.scss */
  0%, 100% {
    /* @include rotateZ(5deg); */
    -webkit-transform: rotateZ(5deg);
  }

  /* line 11, ../scss/snowman/_animations.scss */
  50% {
    /* @include rotateZ(15deg); */
    -webkit-transform: rotateZ(15deg);
  }
}

@-webkit-keyframes scarf_in_wind {
  /* line 6, ../scss/snowman/_animations.scss */
  0%, 100% {
    /* @include rotateZ(5deg); */
    -webkit-transform: rotateZ(5deg);
  }

  /* line 11, ../scss/snowman/_animations.scss */
  50% {
    /* @include rotateZ(15deg); */
    -webkit-transform: rotateZ(15deg);
  }
}

@-o-keyframes scarf_in_wind {
  /* line 6, ../scss/snowman/_animations.scss */
  0%, 100% {
    /* @include rotateZ(5deg); */
    -webkit-transform: rotateZ(5deg);
  }

  /* line 11, ../scss/snowman/_animations.scss */
  50% {
    /* @include rotateZ(15deg); */
    -webkit-transform: rotateZ(15deg);
  }
}

@-ms-keyframes scarf_in_wind {
  /* line 6, ../scss/snowman/_animations.scss */
  0%, 100% {
    /* @include rotateZ(5deg); */
    -webkit-transform: rotateZ(5deg);
  }

  /* line 11, ../scss/snowman/_animations.scss */
  50% {
    /* @include rotateZ(15deg); */
    -webkit-transform: rotateZ(15deg);
  }
}

@keyframes scarf_in_wind {
  /* line 6, ../scss/snowman/_animations.scss */
  0%, 100% {
    /* @include rotateZ(5deg); */
    -webkit-transform: rotateZ(5deg);
  }

  /* line 11, ../scss/snowman/_animations.scss */
  50% {
    /* @include rotateZ(15deg); */
    -webkit-transform: rotateZ(15deg);
  }
}

@-moz-keyframes tiphat_rotate_hat {
  /* line 18, ../scss/snowman/_animations.scss */
  0%, 95%, 100% {
    -webkit-transform-origin: 50% 100%;
    -webkit-transform: rotateZ(8deg);
  }

  /* line 23, ../scss/snowman/_animations.scss */
  4% {
    -webkit-transform-origin: 50% 100%;
  }

  /* line 27, ../scss/snowman/_animations.scss */
  5% {
    -webkit-transform-origin: 150px 220px;
  }

  /* line 31, ../scss/snowman/_animations.scss */
  50% {
    -webkit-transform: rotateZ(90deg);
  }

  /* line 35, ../scss/snowman/_animations.scss */
  94% {
    -webkit-transform-origin: 150px 220px;
  }
}

@-webkit-keyframes tiphat_rotate_hat {
  /* line 18, ../scss/snowman/_animations.scss */
  0%, 95%, 100% {
    -webkit-transform-origin: 50% 100%;
    -webkit-transform: rotateZ(8deg);
  }

  /* line 23, ../scss/snowman/_animations.scss */
  4% {
    -webkit-transform-origin: 50% 100%;
  }

  /* line 27, ../scss/snowman/_animations.scss */
  5% {
    -webkit-transform-origin: 150px 220px;
  }

  /* line 31, ../scss/snowman/_animations.scss */
  50% {
    -webkit-transform: rotateZ(90deg);
  }

  /* line 35, ../scss/snowman/_animations.scss */
  94% {
    -webkit-transform-origin: 150px 220px;
  }
}

@-o-keyframes tiphat_rotate_hat {
  /* line 18, ../scss/snowman/_animations.scss */
  0%, 95%, 100% {
    -webkit-transform-origin: 50% 100%;
    -webkit-transform: rotateZ(8deg);
  }

  /* line 23, ../scss/snowman/_animations.scss */
  4% {
    -webkit-transform-origin: 50% 100%;
  }

  /* line 27, ../scss/snowman/_animations.scss */
  5% {
    -webkit-transform-origin: 150px 220px;
  }

  /* line 31, ../scss/snowman/_animations.scss */
  50% {
    -webkit-transform: rotateZ(90deg);
  }

  /* line 35, ../scss/snowman/_animations.scss */
  94% {
    -webkit-transform-origin: 150px 220px;
  }
}

@-ms-keyframes tiphat_rotate_hat {
  /* line 18, ../scss/snowman/_animations.scss */
  0%, 95%, 100% {
    -webkit-transform-origin: 50% 100%;
    -webkit-transform: rotateZ(8deg);
  }

  /* line 23, ../scss/snowman/_animations.scss */
  4% {
    -webkit-transform-origin: 50% 100%;
  }

  /* line 27, ../scss/snowman/_animations.scss */
  5% {
    -webkit-transform-origin: 150px 220px;
  }

  /* line 31, ../scss/snowman/_animations.scss */
  50% {
    -webkit-transform: rotateZ(90deg);
  }

  /* line 35, ../scss/snowman/_animations.scss */
  94% {
    -webkit-transform-origin: 150px 220px;
  }
}

@keyframes tiphat_rotate_hat {
  /* line 18, ../scss/snowman/_animations.scss */
  0%, 95%, 100% {
    -webkit-transform-origin: 50% 100%;
    -webkit-transform: rotateZ(8deg);
  }

  /* line 23, ../scss/snowman/_animations.scss */
  4% {
    -webkit-transform-origin: 50% 100%;
  }

  /* line 27, ../scss/snowman/_animations.scss */
  5% {
    -webkit-transform-origin: 150px 220px;
  }

  /* line 31, ../scss/snowman/_animations.scss */
  50% {
    -webkit-transform: rotateZ(90deg);
  }

  /* line 35, ../scss/snowman/_animations.scss */
  94% {
    -webkit-transform-origin: 150px 220px;
  }
}

@-moz-keyframes tiphat_rotate_arm {
  /* line 41, ../scss/snowman/_animations.scss */
  0%, 100% {
    width: 214px;
    -webkit-transform: rotateZ(-72deg);
  }

  /* line 46, ../scss/snowman/_animations.scss */
  4% {
    width: 116px;
    -webkit-transform: rotateZ(-72deg);
  }

  /* line 51, ../scss/snowman/_animations.scss */
  50% {
    -webkit-transform: rotateZ(0deg);
  }

  /* line 55, ../scss/snowman/_animations.scss */
  94% {
    width: 116px;
    -webkit-transform: rotateZ(-72deg);
  }

  /* line 60, ../scss/snowman/_animations.scss */
  100% {
    width: 214px;
  }
}

@-webkit-keyframes tiphat_rotate_arm {
  /* line 41, ../scss/snowman/_animations.scss */
  0%, 100% {
    width: 214px;
    -webkit-transform: rotateZ(-72deg);
  }

  /* line 46, ../scss/snowman/_animations.scss */
  4% {
    width: 116px;
    -webkit-transform: rotateZ(-72deg);
  }

  /* line 51, ../scss/snowman/_animations.scss */
  50% {
    -webkit-transform: rotateZ(0deg);
  }

  /* line 55, ../scss/snowman/_animations.scss */
  94% {
    width: 116px;
    -webkit-transform: rotateZ(-72deg);
  }

  /* line 60, ../scss/snowman/_animations.scss */
  100% {
    width: 214px;
  }
}

@-o-keyframes tiphat_rotate_arm {
  /* line 41, ../scss/snowman/_animations.scss */
  0%, 100% {
    width: 214px;
    -webkit-transform: rotateZ(-72deg);
  }

  /* line 46, ../scss/snowman/_animations.scss */
  4% {
    width: 116px;
    -webkit-transform: rotateZ(-72deg);
  }

  /* line 51, ../scss/snowman/_animations.scss */
  50% {
    -webkit-transform: rotateZ(0deg);
  }

  /* line 55, ../scss/snowman/_animations.scss */
  94% {
    width: 116px;
    -webkit-transform: rotateZ(-72deg);
  }

  /* line 60, ../scss/snowman/_animations.scss */
  100% {
    width: 214px;
  }
}

@-ms-keyframes tiphat_rotate_arm {
  /* line 41, ../scss/snowman/_animations.scss */
  0%, 100% {
    width: 214px;
    -webkit-transform: rotateZ(-72deg);
  }

  /* line 46, ../scss/snowman/_animations.scss */
  4% {
    width: 116px;
    -webkit-transform: rotateZ(-72deg);
  }

  /* line 51, ../scss/snowman/_animations.scss */
  50% {
    -webkit-transform: rotateZ(0deg);
  }

  /* line 55, ../scss/snowman/_animations.scss */
  94% {
    width: 116px;
    -webkit-transform: rotateZ(-72deg);
  }

  /* line 60, ../scss/snowman/_animations.scss */
  100% {
    width: 214px;
  }
}

@keyframes tiphat_rotate_arm {
  /* line 41, ../scss/snowman/_animations.scss */
  0%, 100% {
    width: 214px;
    -webkit-transform: rotateZ(-72deg);
  }

  /* line 46, ../scss/snowman/_animations.scss */
  4% {
    width: 116px;
    -webkit-transform: rotateZ(-72deg);
  }

  /* line 51, ../scss/snowman/_animations.scss */
  50% {
    -webkit-transform: rotateZ(0deg);
  }

  /* line 55, ../scss/snowman/_animations.scss */
  94% {
    width: 116px;
    -webkit-transform: rotateZ(-72deg);
  }

  /* line 60, ../scss/snowman/_animations.scss */
  100% {
    width: 214px;
  }
}

/* line 10, ../scss/snowman/_main.scss */
.timer {
  position: relative;
  top: 40px;
  z-index: 1;
  background: url(../images/wood.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0px 0px 14px;
  border-radius: 20px;
  text-align: center;
  width: 300px;
  height: 200px;
}
/* line 30, ../scss/snowman/_main.scss */
.timer h1 {
  font-size: 150px;
  font-family: "old_press";
  letter-spacing: 10px;
  color: #d5cbc3;
  text-shadow: -3px -3px 0px rgba(0, 0, 0, 0.5), 2px 2px 0px rgba(255, 255, 255, 0.8);
}
/* line 37, ../scss/snowman/_main.scss */
.timer h2 {
  font-size: 40px;
  font-family: "old_press";
  letter-spacing: 5px;
  color: #d5cbc3;
  text-shadow: -2px -2px 0px rgba(0, 0, 0, 0.5), 1px 1px 0px rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
}

/* line 47, ../scss/snowman/_main.scss */
.snowman {
  /* width: 30%; */
  -webkit-transform: scale(0.77);
}
/* line 51, ../scss/snowman/_main.scss */
.snowman > div {
  position: relative;
}
/* line 55, ../scss/snowman/_main.scss */
.snowman .hat {
  z-index: 5;
  width: 160px;
  height: auto;
  -webkit-transform-origin: bottom;
  -webkit-transform: rotateZ(5deg);
  -webkit-animation: tiphat_rotate_hat 2.5s infinite linear;
  -moz-animation: tiphat_rotate_hat 2.5s infinite linear;
  -ms-animation: tiphat_rotate_hat 2.5s infinite linear;
  -o-animation: tiphat_rotate_hat 2.5s infinite linear;
  animation: tiphat_rotate_hat 2.5s infinite linear;
  /*2.5s, 10s);*/
}
/* line 64, ../scss/snowman/_main.scss */
.snowman .hat .top {
  position: relative;
  z-index: 2;
  margin-bottom: -10px;
  width: 70%;
  height: 20px;
  background-color: black;
  border-radius: 100%;
}
/* line 78, ../scss/snowman/_main.scss */
.snowman .hat .middle {
  position: relative;
  z-index: 1;
  margin-bottom: -10px;
  width: 70%;
  height: 65px;
  background-color: black;
}
/* line 88, ../scss/snowman/_main.scss */
.snowman .hat .base {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 25px;
  background-color: black;
  border-radius: 100%;
  margin-bottom: -20px;
}
/* line 101, ../scss/snowman/_main.scss */
.snowman .head {
  z-index: 4;
  margin-bottom: -28px;
  width: 115px;
  height: 92px;
  box-shadow: inset 0px -3px 10px rgba(0, 0, 0, 0.4);
}
/* line 109, ../scss/snowman/_main.scss */
.snowman .head .eye {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 55%;
  top: 25%;
  box-shadow: 36px 0px;
  /* background-color: #1600e2;
  @include filter-gradient(#1600e2, #000000, horizontal);
  @include background-image(radial-gradient(center, ellipse cover,  #1600e2 1%,#000000 62%)); */
}
/* line 123, ../scss/snowman/_main.scss */
.snowman .head .nose {
  position: absolute;
  bottom: 27%;
  left: 46%;
  -webkit-transform: rotateZ(20deg);
  border-style: solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /* border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; */
  border-width: 10px 0px 10px 50px;
  border-color: transparent transparent transparent #ff8c00;
}
/* line 137, ../scss/snowman/_main.scss */
.snowman .head .mouth {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 22px);
  width: 44px;
  height: 20px;
  border-bottom: 20px black solid;
  border-bottom-left-radius: 154%;
  border-bottom-right-radius: 113%;
  /* border-bottom-left-radius: 154%;
  border-bottom-right-radius: 113%; */
}
/* line 151, ../scss/snowman/_main.scss */
.snowman .scarf {
  z-index: 3;
  margin-bottom: -32px;
  width: 115px;
  height: 32px;
  border-radius: 100%;
}
/* line 159, ../scss/snowman/_main.scss */
.snowman .scarf .end {
  position: absolute;
  right: 10px;
  top: 18px;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
  -webkit-animation: scarf_in_wind 0.7s infinite linear;
  -moz-animation: scarf_in_wind 0.7s infinite linear;
  -ms-animation: scarf_in_wind 0.7s infinite linear;
  -o-animation: scarf_in_wind 0.7s infinite linear;
  animation: scarf_in_wind 0.7s infinite linear;
  width: 15px;
  height: 75px;
  border-top-right-radius: 100%;
}
/* line 172, ../scss/snowman/_main.scss */
.snowman .scarf .end:first-child {
  right: 15px;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
/* line 177, ../scss/snowman/_main.scss */
.snowman .scarf .end:last-child {
  box-shadow: -4px 3px darkgreen, 0px 3px 0px darkgreen, 1px 3px 0px darkgreen;
  /* -webkit-transform: rotateZ(-25deg); */
}
/* line 184, ../scss/snowman/_main.scss */
.snowman .belly {
  z-index: 2;
  margin-bottom: -40px;
  width: 185px;
  height: 130px;
  box-shadow: inset 0px -3px 10px rgba(0, 0, 0, 0.4), 0px 6px 5px rgba(0, 0, 0, 0.1);
}
/* line 192, ../scss/snowman/_main.scss */
.snowman .belly .arm .finger {
  left: -20px;
}
/* line 195, ../scss/snowman/_main.scss */
.snowman .belly .arm .finger:nth-child(1) {
  -webkit-transform: rotateZ(-135deg);
  bottom: calc(100% + 5px);
}
/* line 200, ../scss/snowman/_main.scss */
.snowman .belly .arm .finger:nth-child(2) {
  top: 1.5px;
}
/* line 204, ../scss/snowman/_main.scss */
.snowman .belly .arm .finger:nth-child(3) {
  -webkit-transform: rotateZ(-225deg);
  top: calc(100% + 5px);
}
/* line 210, ../scss/snowman/_main.scss */
.snowman .belly .arm:first-child {
  position: absolute;
  right: 94%;
  top: 50%;
}
/* line 215, ../scss/snowman/_main.scss */
.snowman .belly .arm:first-child .limb {
  -webkit-transform: rotateZ(72deg);
}
/* line 221, ../scss/snowman/_main.scss */
.snowman .belly .arm:nth-child(2) {
  position: absolute;
  left: 94%;
  top: 50%;
  -webkit-transform: rotateZ(180deg);
}
/* line 227, ../scss/snowman/_main.scss */
.snowman .belly .arm:nth-child(2) .limb {
  -webkit-transform: rotateZ(-72deg);
  -webkit-animation: tiphat_rotate_arm 2.5s infinite linear;
  -moz-animation: tiphat_rotate_arm 2.5s infinite linear;
  -ms-animation: tiphat_rotate_arm 2.5s infinite linear;
  -o-animation: tiphat_rotate_arm 2.5s infinite linear;
  animation: tiphat_rotate_arm 2.5s infinite linear;
}
/* line 233, ../scss/snowman/_main.scss */
.snowman .belly .arm .limb {
  position: relative;
  -webkit-transform-origin: right;
  width: 214px;
  height: 10px;
  background-color: saddlebrown;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 244, ../scss/snowman/_main.scss */
.snowman .belly .arm .limb .finger {
  position: absolute;
  width: 30px;
  height: 6px;
  background-color: saddlebrown;
}
/* line 252, ../scss/snowman/_main.scss */
.snowman .belly .buttonz {
  width: 16px;
  height: 16px;
  position: absolute;
  left: calc(50% - 8px);
  top: 30%;
  box-shadow: 0px 26px 0px, 0px 52px 0;
}
/* line 263, ../scss/snowman/_main.scss */
.snowman .legs {
  z-index: 1;
  width: 250px;
  height: 170px;
  box-shadow: 0px 35px 120px, inset 0px -5px 15px rgba(0, 0, 0, 0.5);
}

/* @include keyframe(scarf) {
	0% { -webkit-transform: rotateZ(0deg); }
	20% { -webkit-transform: rotateZ(-40deg); }
	60% { -webkit-transform: rotateZ(30deg); }
	85% { -webkit-transform: rotateZ(-30deg); }
	100% { -webkit-transform: rotateZ(0deg); }
}


.end:last-child {
   @include animation(scarf, 15s, 2s);
}

.end:first-child {
   @include animation(scarf, 25s, 5s);
} */
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f1 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 148%;
  left: 85%;
  z-index: 3;
  -webkit-animation: fall2;
  -webkit-animation-duration: 17s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f2 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 101%;
  left: 75%;
  z-index: 1;
  -webkit-animation: fall3;
  -webkit-animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f3 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 107%;
  left: 44%;
  z-index: 8;
  -webkit-animation: fall3;
  -webkit-animation-duration: 22s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f4 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 136%;
  left: 14%;
  z-index: 8;
  -webkit-animation: fall2;
  -webkit-animation-duration: 24s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f5 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 116%;
  left: 82%;
  z-index: 6;
  -webkit-animation: fall2;
  -webkit-animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f6 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 126%;
  left: 93%;
  z-index: 3;
  -webkit-animation: fall2;
  -webkit-animation-duration: 13s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f7 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 109%;
  left: 71%;
  z-index: 6;
  -webkit-animation: fall2;
  -webkit-animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f8 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 142%;
  left: 40%;
  z-index: 3;
  -webkit-animation: fall1;
  -webkit-animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f9 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 129%;
  left: 99%;
  z-index: 6;
  -webkit-animation: fall1;
  -webkit-animation-duration: 21s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f10 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 116%;
  left: 50%;
  z-index: 9;
  -webkit-animation: fall1;
  -webkit-animation-duration: 19s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f11 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 128%;
  left: 51%;
  z-index: 9;
  -webkit-animation: fall3;
  -webkit-animation-duration: 21s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f12 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 109%;
  left: 39%;
  z-index: 7;
  -webkit-animation: fall3;
  -webkit-animation-duration: 17s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f13 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 129%;
  left: 33%;
  z-index: 5;
  -webkit-animation: fall2;
  -webkit-animation-duration: 21s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f14 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 143%;
  left: 73%;
  z-index: 6;
  -webkit-animation: fall3;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f15 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 133%;
  left: 35%;
  z-index: 0;
  -webkit-animation: fall3;
  -webkit-animation-duration: 22s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f16 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 132%;
  left: 87%;
  z-index: 3;
  -webkit-animation: fall3;
  -webkit-animation-duration: 27s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f17 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 145%;
  left: 47%;
  z-index: 0;
  -webkit-animation: fall2;
  -webkit-animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f18 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 122%;
  left: 35%;
  z-index: 7;
  -webkit-animation: fall2;
  -webkit-animation-duration: 23s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f19 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 126%;
  left: 28%;
  z-index: 4;
  -webkit-animation: fall2;
  -webkit-animation-duration: 17s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f20 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 143%;
  left: 91%;
  z-index: 9;
  -webkit-animation: fall1;
  -webkit-animation-duration: 22s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f21 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 103%;
  left: 4%;
  z-index: 4;
  -webkit-animation: fall1;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f22 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 133%;
  left: 22%;
  z-index: 3;
  -webkit-animation: fall1;
  -webkit-animation-duration: 16s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f23 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 129%;
  left: 36%;
  z-index: 8;
  -webkit-animation: fall1;
  -webkit-animation-duration: 23s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f24 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 100%;
  left: 81%;
  z-index: 4;
  -webkit-animation: fall2;
  -webkit-animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f25 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 116%;
  left: 74%;
  z-index: 8;
  -webkit-animation: fall3;
  -webkit-animation-duration: 14s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f26 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 145%;
  left: 84%;
  z-index: 6;
  -webkit-animation: fall3;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f27 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 138%;
  left: 38%;
  z-index: 8;
  -webkit-animation: fall2;
  -webkit-animation-duration: 26s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f28 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 101%;
  left: 18%;
  z-index: 0;
  -webkit-animation: fall2;
  -webkit-animation-duration: 26s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f29 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 134%;
  left: 1%;
  z-index: 0;
  -webkit-animation: fall3;
  -webkit-animation-duration: 25s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f30 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 134%;
  left: 98%;
  z-index: 9;
  -webkit-animation: fall1;
  -webkit-animation-duration: 21s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f31 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 134%;
  left: 12%;
  z-index: 1;
  -webkit-animation: fall2;
  -webkit-animation-duration: 22s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f32 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 117%;
  left: 38%;
  z-index: 2;
  -webkit-animation: fall1;
  -webkit-animation-duration: 24s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f33 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 145%;
  left: 29%;
  z-index: 0;
  -webkit-animation: fall2;
  -webkit-animation-duration: 19s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f34 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 143%;
  left: 25%;
  z-index: 5;
  -webkit-animation: fall1;
  -webkit-animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f35 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 137%;
  left: 78%;
  z-index: 9;
  -webkit-animation: fall3;
  -webkit-animation-duration: 23s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f36 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 130%;
  left: 54%;
  z-index: 2;
  -webkit-animation: fall3;
  -webkit-animation-duration: 27s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f37 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 147%;
  left: 55%;
  z-index: 4;
  -webkit-animation: fall3;
  -webkit-animation-duration: 24s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f38 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 129%;
  left: 35%;
  z-index: 5;
  -webkit-animation: fall3;
  -webkit-animation-duration: 21s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f39 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 137%;
  left: 25%;
  z-index: 6;
  -webkit-animation: fall1;
  -webkit-animation-duration: 19s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 3, ../scss/snow_fall/_main.scss */
.snow .icon-snowflake.f40 {
  float: left;
  margin: auto;
  color: white;
  position: absolute;
  font-size: 125%;
  left: 30%;
  z-index: 7;
  -webkit-animation: fall1;
  -webkit-animation-duration: 21s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fall1 {
  /* line 21, ../scss/snow_fall/_main.scss */
  0% {
    top: -50px;
    -webkit-transform: translate(0px, 0px) rotate(0deg);
  }

  /* line 26, ../scss/snow_fall/_main.scss */
  100% {
    top: 250px;
    -webkit-transform: translate(100px, 150px) rotate(250deg);
  }
}

@-webkit-keyframes fall2 {
  /* line 33, ../scss/snow_fall/_main.scss */
  0% {
    top: -50px;
    -webkit-transform: rotate(-180deg) translate(0px, 0px);
  }

  /* line 37, ../scss/snow_fall/_main.scss */
  75% {
    opacity: 0.8;
  }

  /* line 40, ../scss/snow_fall/_main.scss */
  100% {
    top: 250px;
    opacity: 0.0;
    -webkit-transform: rotate(180deg) translate(10px, 75px);
  }
}

@-webkit-keyframes fall3 {
  /* line 48, ../scss/snow_fall/_main.scss */
  0% {
    top: -50px;
    -webkit-transform: rotate(-180deg);
  }

  /* line 53, ../scss/snow_fall/_main.scss */
  100% {
    top: 250px;
    -webkit-transform: rotate(180deg);
    -webkit-transform: rotateY(160deg);
  }
}

@-webkit-keyframes fall5 {
  /* line 61, ../scss/snow_fall/_main.scss */
  0% {
    top: -50px;
    -webkit-transform: rotate(-180deg) translate(0px, 0px);
  }

  /* line 65, ../scss/snow_fall/_main.scss */
  70% {
    -webkit-transform: rotate(200deg) translate(50px, 100px);
  }

  /* line 68, ../scss/snow_fall/_main.scss */
  100% {
    top: 250px;
    -webkit-transform: rotate(380deg) translate(80px, 100px);
  }
}

@-webkit-keyframes fall4 {
  /* line 75, ../scss/snow_fall/_main.scss */
  0% {
    top: -50px;
  }

  /* line 78, ../scss/snow_fall/_main.scss */
  10% {
    -webkit-transform: rotate(-180deg) translate(0px, 0px);
  }

  /* line 81, ../scss/snow_fall/_main.scss */
  100% {
    top: 250px;
    -webkit-transform: rotate(50deg) translate(100px, 80px);
  }
}

/* line 87, ../scss/snow_fall/_main.scss */
[class*="icon-"] {
  font-family: 'SED';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 101, ../scss/snow_fall/_main.scss */
.icon-snow:before {
  content: "\e60d";
}

/* line 105, ../scss/snow_fall/_main.scss */
.icon-snowflake:before {
  content: "\e61b";
}

/* line 17, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../scss/tree/_main.scss */
.ctree {
  position: relative;
  left: 50%;
  bottom: 137px;
}
/* line 8, ../scss/tree/_main.scss */
.ctree .trunk {
  border-color: #3b200f transparent;
  border-style: solid;
  border-width: 0 14px 160px;
  bottom: 0;
  height: 0px;
  width: 0;
  position: absolute;
  z-index: -1;
  left: 85px;
  top: 0px;
}
/* line 21, ../scss/tree/_main.scss */
.ctree .branch {
  border-bottom-left-radius: 50% 50px;
  border-bottom-right-radius: 50% 50px;
  border-color: #336633 transparent;
  border-style: inset;
  height: 0;
  width: 0;
  position: absolute;
}
/* line 33, ../scss/tree/_main.scss */
.ctree .branch.b1 {
  left: 80px;
  top: 0px;
  border-width: 0 20px 25px;
  z-index: 5;
}
/* line 39, ../scss/tree/_main.scss */
.ctree .branch.b2 {
  left: 60px;
  top: 8px;
  border-width: 0 40px 45px;
  z-index: 4;
}
/* line 46, ../scss/tree/_main.scss */
.ctree .branch.b3 {
  left: 40px;
  top: 18px;
  border-width: 0 60px 65px;
  z-index: 3;
}
/* line 52, ../scss/tree/_main.scss */
.ctree .branch.b4 {
  left: 20px;
  top: 28px;
  border-width: 0 80px 85px;
  z-index: 2;
}
/* line 58, ../scss/tree/_main.scss */
.ctree .branch.b5 {
  left: 0px;
  top: 38px;
  border-width: 0 100px 105px;
  z-index: 1;
}

/* line 1, ../scss/background/_main.scss */
.widget {
  height: 356px;
  width: 1013px;
  border: 4px solid black;
  overflow: hidden;
}
/* line 7, ../scss/background/_main.scss */
.widget .scenery {
  width: 100%;
  height: 100%;
}
/* line 12, ../scss/background/_main.scss */
.widget .sky {
  width: 100%;
  background-color: #1b2e33;
  height: 80%;
}
/* line 17, ../scss/background/_main.scss */
.widget .sky .moon {
  float: right;
  position: relative;
  top: 20px;
  right: 60px;
  width: 100px;
  height: 100px;
  background-color: #E0E0AF;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 60px #FFF;
  -moz-box-shadow: 0 0 60px #FFF;
  box-shadow: 0 0 60px #FFF;
}
/* line 30, ../scss/background/_main.scss */
.widget .sky .moon img {
  width: 100%;
  height: 70%;
  position: relative;
  top: 25px;
}
/* line 39, ../scss/background/_main.scss */
.widget .ground {
  position: relative;
}

/*various mixins-placeholders */
/* line 1, ../scss/sign/_chains.scss */
.chains {
  height: 100px;
  width: 25px;
  position: absolute;
}
/* line 6, ../scss/sign/_chains.scss */
.chains div {
  border: thin solid black;
}
/* line 10, ../scss/sign/_chains.scss */
.chains.five div {
  height: calc(100% / 5);
  width: 100%;
}

/* line 5, ../scss/sign/_main.scss */
.timer, .snowman .hat, .snowman .hat .top, .snowman .hat .middle, .snowman .head, .snowman .scarf, .snowman .belly, .snowman .legs {
  margin-left: auto;
  margin-right: auto;
}

/* main timer part */
/* line 12, ../scss/sign/_main.scss */
.timer {
  position: relative;
  z-index: 5;
  width: 440px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 0px 14px;
  text-align: center;
  float: left;
  margin: -20px 0px 0px -40px;
  background: url(../images/wood.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transform: rotateZ(-12deg);
}
/* line 30, ../scss/sign/_main.scss */
.timer h1 {
  font-size: 270px;
  font-family: "old_press";
  letter-spacing: 10px;
  color: #d5cbc3;
  text-shadow: -3px -3px 0px rgba(0, 0, 0, 0.5), 2px 2px 0px rgba(255, 255, 255, 0.8);
  -webkit-transform: rotateZ(4deg);
}
/* line 38, ../scss/sign/_main.scss */
.timer h2 {
  font-size: 40px;
  font-family: "old_press";
  letter-spacing: 5px;
  color: #d5cbc3;
  text-shadow: -2px -2px 0px rgba(0, 0, 0, 0.5), 1px 1px 0px rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  -webkit-transform: rotateZ(-3deg);
  margin-top: -25px;
}

@font-face {
  font-family: 'SED';
  src: url("../fonts/SED/SED.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/SED/SED.eot?#iefix") format("embedded-opentype"), url("../fonts/SED/SED.woff") format("woff"), url("../fonts/SED/SED.ttf") format("truetype"), url("../fonts/SED/SED.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'gill_sans_light';
  src: url("../fonts/light/gill_sans.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/light/gill_sans.eot?#iefix") format("embedded-opentype"), url("../fonts/light/gill_sans.woff") format("woff"), url("../fonts/light/gill_sans.ttf") format("truetype"), url("../fonts/light/gill_sans.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'old_press';
  src: url("../fonts/oldpress/old_press.ttf");
}

/* line 17, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}
