@font-face {
  font-family: 'SED';
  src: url("../fonts/SED/SED.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/SED/SED.eot?#iefix") format("embedded-opentype"), url("../fonts/SED/SED.woff") format("woff"), url("../fonts/SED/SED.ttf") format("truetype"), url("../fonts/SED/SED.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'gill_sans_light';
  src: url("../fonts/light/gill_sans.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/light/gill_sans.eot?#iefix") format("embedded-opentype"), url("../fonts/light/gill_sans.woff") format("woff"), url("../fonts/light/gill_sans.ttf") format("truetype"), url("../fonts/light/gill_sans.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'old_press';
  src: url("../fonts/oldpress/old_press.ttf");
}

/* line 8, ../scss/master.scss */
.widget {
  height: 356px;
  width: 1013px;
  border: 4px solid black;
}
/* line 13, ../scss/master.scss */
.widget .sky {
  background-color: #1b2e33;
  width: 100%;
  height: 200px;
}
/* line 18, ../scss/master.scss */
.widget .sky .moon {
  float: right;
  position: relative;
  top: 20px;
  right: 60px;
  width: 100px;
  height: 100px;
  background-color: #E0E0AF;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 60px #FFF;
  -moz-box-shadow: 0 0 60px #FFF;
  box-shadow: 0 0 60px #FFF;
}
/* line 31, ../scss/master.scss */
.widget .sky .moon img {
  width: 100%;
  height: 70%;
  position: relative;
  top: 25px;
}
/* line 40, ../scss/master.scss */
.widget .ground {
  width: 100%;
  height: 156px;
  background-color: #fff;
}
